<!-- <div class="bar bar-header bar-light">
   <a href="#"><img src="images/logo.jpg" alt="Sutter Davis Hospital" width="35"/> </a>
   <h1 class="title">Sutter Davis Hospital</h1>
   <div class="right-buttons">
     
   <button class="button button-outline"><i class="icon ion-ios-telephone-outline"></i></button>
   <button class="button button-outline" ><i class="icon ion-ios-bell-outline"></i></button>
   </div>
   
   </div> -->
<ion-view
   ng-init = "view.init()"
   hide-back-button="true">
   <ion-nav-title>
   <!--  <h1 class="title">{{view.hospitalName}}</h1> -->
    
   </ion-nav-title>
   <ion-content  ng-switch="view.display" on-scroll="view.getScrollPosition()">

      <ion-refresher
        on-refresh="view.onPullToRefresh();"
        class="aj-refresher">
      </ion-refresher>

      <div class="info-msg bg-balanced" ng-if="view.infoMsg">
         <div class="padding">
            <i class="icon ion-ios-information-outline"></i> 
            <span>
              You do not have any Questionnaire to be submitted now.
            </span>
         </div>
      </div>

      <div class="info-msg bg-assertive" ng-if="view.errorStartQuestion" >
         <div class="padding">
            <i class="icon ion-ios-information-outline"></i> 
            <span>
              {{view.errorMsg}} 
            </span>
         </div>
      </div>

      <div class="padding">
         <h5 class="f-w-400 margin-none">Questionnaire Summary</h5>
         <h6 >It's time to complete your Questionnaire </h6>
      </div>

       
      <div class="loader dashboard-loader" ng-switch-when="loader">
        <ion-spinner>
        </ion-spinner>
      </div>

      <div
        ng-switch-when="noError">

       <label ng-if="view.showStart">
        <div>
         <div class="clm-list" >
            <div class="row" >
               <div class="col">
                  <h6 class="f-w-400">  <i class="icon ion-android-alert text-danger"></i> Due  </h6>
               </div>
               <div class="col">
                  <h6>{{ view.currentDate }}</h6>
               </div>
               <div class="col col-20 text-right">
                  <button 
                     class="button button-block button-small button-assertive"
                     ng-click = "view.startQuiz('noValue');">
                     Start
                   </button>
               </div>
            </div>
         </div>
       </div>
     </label>

      <label
         ng-repeat ="submissions in view.data | limitTo: view.limitTo ">
           
        <div ng-if="submissions.status == 'upcoming'">
 
         <div class="clm-list">
            <div class="row">
               <div class="col">
                  <h6 class="f-w-400">  <i class="icon ion-plus-circled text-green"></i> Upcoming</h6>
               </div>
               <div class="col">
                  <h6>{{ submissions.occurrenceDate }}</h6>
               </div>
               <div class="col col-20  text-right">
               </div>
            </div>
         </div>
       </div>

        <div ng-if="submissions.status == 'due'" >
         <div class="clm-list" >
            <div class="row" >
               <div class="col">
                  <h6 class="f-w-400">  <i class="icon ion-android-alert text-danger"></i> Due </h6>
               </div>
               <div class="col">
                  <h6>{{ submissions.occurrenceDate }}</h6>
               </div>
               <div class="col col-20 text-right">
                  <button 
                     class="button button-block button-small button-assertive"
                     ng-click = "view.startQuiz('noValue');">
                     Start
                   </button>
               </div>
            </div>
         </div>
       </div>

       <div ng-if="submissions.status == 'started'" >
         <div class="clm-list" >
            <div class="row" >
               <div class="col">
                  <h6 class="f-w-400">  <i class="icon ion-android-alert text-danger"></i> Resume </h6>
               </div>
               <div class="col">
                  <h6>{{ submissions.occurrenceDate }}</h6>
               </div>
               <div class="col col-20 text-right">
                  <button 
                     class="button button-block button-small button-assertive"
                     ng-click = "view.resumeQuiz(submissions.occurrenceId);">
                     Resume
                   </button>
               </div>
            </div>
         </div>
       </div>

       <div ng-if="submissions.status == 'late'" >
         <div class="clm-list" >
            <div class="row" >
               <div class="col">
                  <h6 class="f-w-400"> <i class="icon ion-android-alert text-danger">
                    
                  </i> Late </h6>
               </div>
               <div class="col">
                  <h6>{{ submissions.occurrenceDate }}</h6>
               </div>
               <div class="col col-20 text-right">
                  <!-- <button class="button button-block button-small button-balanced"  
                  ng-click = "view.summary(submissions.occurrenceId);">View</button> -->
                  <button 
                       ng-if="submissions.answeredQuestions === false"
                       class="button button-block button-small button-assertive"
                       ng-click = "view.startQuiz(submissions.occurrenceId);">
                     Start
                   </button>
                  <button 
                      ng-if="submissions.answeredQuestions === true"
                      class="button button-block button-small button-assertive"
                      ng-click = "view.resumeQuiz(submissions.occurrenceId);">
                     Resume
                   </button>


               </div>
            </div>
         </div>
       </div>



      <div ng-if="submissions.status == 'missed'">
         <div class="clm-list" >
            <div class="row">
               <div class="col">
                  <h6 class="f-w-400">  <i class="icon ion-minus-circled text-muted"></i> Missed</h6>
               </div>
               <div class="col">
                  <h6>{{ submissions.occurrenceDate }}</h6>
               </div>
               <div class="col col-20 text-right">
               </div>
            </div>
         </div>
       </div>

        <div ng-if="submissions.status == 'completed' " >
         <div class="clm-list" >
            <div class="row">
               <div class="col">
                  <h6 class="f-w-400">  <i class="icon ion-checkmark-circled text-leaf"></i> Completed </h6>
               </div>
               <div class="col">
                  <h6>{{ submissions.occurrenceDate }}</h6>
               </div>
               <div class="col col-20 text-right">
                  <button class="button button-block button-small button-balanced"  
                  ng-click = "view.summary(submissions.occurrenceId);">View</button>
               </div>
            </div>
         </div>
       </div>

       

        <!--  <hr> -->
      </label>
         <!--  <button 
              ng-if = "view.showMoreButton"
              class="button button-block button-dark show-more"
              ng-click="view.showMore()">
              View More
          </button> -->
          <button 
            ng-if = "view.showMoreButton" 
            ng-click="view.showMore()"
            class="button button-clear ion-android-arrow-dropdown button-block button-stable view-more">
            View More
          </button>

      </div>
      <aj-error class="errors"
            error-type="view.errorType"
            ng-switch-when="error"
            tap-to-retry="view.onTapToRetry();">
        </aj-error>

      
        <div class="info-msg">
          <P class="padding 
           l-h-20">
            <span>
              <b class="assertive">Note : </b>If you feel unwell or would like to chat to someone at the hospital about your illness, you don't need to wait for your next
              appoinment, just select the contact us button at the top of the screen.
            </span>
          </P>
        </div>
       
        <!-- <div class="padding">
         <h5 class="f-w-400">{{view.projectName}} Project Questionnaire - 1</h5>
        </div>

  
  
          <div class="text-center">
             <div id="chartdiv" style="width: 100%; height: 351px;"></div>
          </div> -->
   </ion-content>

       <div class="bar bar-footer bar-assertive bar-top"  ng-if ="view.scroll == true"
            ng-click="view.scrollTop()">
          
              <img src="images/arrow.png"/>
     
        </div>
</ion-view>
<script>

            AmCharts.makeChart("chartdiv", {
                "type": "pie",
                "dataProvider": [{
                    "questionnaires": "Questionnaires Missed",
                        "litres": 144
                }, {
                    "questionnaires": "Questionnaires Submitted",
                        "litres": 216
                }],
                "responsive": {
                    "enabled": true,
                  },
                "titleField": "questionnaires",
                "valueField": "litres",
              
                "colors": [
                    "#959595",
                    "#7bc67a"
                  ],
                  "marginBottom": 0,
  "marginTop": 0,
                "balloonText": "[[title]]<br><span style='font-size:14px'><b>[[value]]</b> ([[percents]]%)</span>",
                "legend": {
                    "align": "center",
                    "valueWidth": 100,
                    "valueText": "[[percents]]%  [[value]]",
                    "markerType": "circle"
                }

            });

        </script>