<!-- <div class="bar bar-header bar-light">
   <a href="#"><img src="images/logo.jpg" alt="Sutter Davis Hospital" width="35"/> </a>
   <h1 class="title">Sutter Davis Hospital</h1>
   <div class="right-buttons">
     
   <button class="button button-outline"><i class="icon ion-ios-telephone-outline"></i></button>
   <button class="button button-outline" ><i class="icon ion-ios-bell-outline"></i></button>
   </div>
   
   </div> -->
<ion-view
   ng-init = "view.init()"
   hide-back-button="true">
   <ion-nav-title>
   <!--  <h1 class="title">{{view.hospitalName}}</h1> -->
    
   </ion-nav-title>
   <ion-content  ng-init="view.displaydata();" >

      <div class="info-msg bg-balanced">
         <div class="padding">
            <i class="icon ion-ios-information-outline"></i> 
            <span>
              You do not have any questionnaire to be submitted now .
            </span>
         </div>
      </div>
      <div class="padding">
         <h5 class="f-w-400">Questionnaire Summary</h5>
         <h6>It's time to complete your Questionnaire</h6>
      </div>
      <!--    <div class="clm-list">
         <div class="row">
          <div class="col">
              <h6 class="f-w-400">  <i class="icon ion-plus-circled text-green"></i> Upcoming</h6>
          </div>
          <div class="col">
              <h6>25 Oct 2015</h6>
            </div>
            <div class="col col-20  text-right">
            </div>
         </div>
         <hr>
         <div class="row" >
          <div class="col">
              <h6 class="f-w-400">  <i class="icon ion-android-alert text-danger"></i> Due</h6>
          </div>
          <div class="col">
              <h6>15 Oct 2015</h6>
          </div>
          <div class="col col-20 text-right">
            <button 
            class="button button-block button-small button-assertive"
            ng-click = "view.startQuiz();">Start</button>
          </div>
         </div>
         <hr>
         <div class="row">
          <div class="col">
            <h6 class="f-w-400">  <i class="icon ion-minus-circled text-muted"></i> Missed</h6>
          </div>
          <div class="col">
            <h6>10 Oct 2015</h6>
          </div>
          <div class="col col-20 text-right">
         
          </div>
         </div>
         <hr>
         <div class="row">
          <div class="col">
              <h6 class="f-w-400">  <i class="icon ion-checkmark-circled text-leaf"></i> Submitted</h6>
          </div>
          <div class="col">
              <h6>15 Sep 2015</h6>
          </div>
          <div class="col col-20 text-right">
              <button class="button button-block button-small button-balanced">View</button>
          </div>
         </div> 
         </div> -->
      <label
         ng-repeat ="submissions in view.data.array">
         <div ng-if="submissions.status == 'Upcoming'">
         <div class="clm-list">
            <div class="row">
               <div class="col">
                  <h6 class="f-w-400">  <i class="icon ion-plus-circled text-green"></i> Upcoming</h6>
               </div>
               <div class="col">
                  <h6>25 Oct 2015</h6>
               </div>
               <div class="col col-20  text-right">
               </div>
            </div>
         </div>
       </div>
        <div ng-if="submissions.status == 'Due'" >
         <div class="clm-list" >
            <div class="row" >
               <div class="col">
                  <h6 class="f-w-400">  <i class="icon ion-android-alert text-danger"></i> {{submissions.status}}</h6>
               </div>
               <div class="col">
                  <h6>15 Oct 2015</h6>
               </div>
               <div class="col col-20 text-right">
                  <button 
                     class="button button-block button-small button-assertive"
                     ng-click = "view.startQuiz(submissions.quizId);">
                     Start
                   </button>
               </div>
            </div>
         </div>
       </div>
      <div ng-if="submissions.status == 'Missed'">
         <div class="clm-list" >
            <div class="row">
               <div class="col">
                  <h6 class="f-w-400">  <i class="icon ion-minus-circled text-muted"></i> {{submissions.status}}</h6>
               </div>
               <div class="col">
                  <h6>10 Oct 2015</h6>
               </div>
               <div class="col col-20 text-right">
               </div>
            </div>
         </div>
       </div>
        <div ng-if="submissions.status == 'Submitted'" >
         <div class="clm-list" >
            <div class="row">
               <div class="col">
                  <h6 class="f-w-400">  <i class="icon ion-checkmark-circled text-leaf"></i> {{submissions.status}}</h6>
               </div>
               <div class="col">
                  <h6>15 Sep 2015</h6>
               </div>
               <div class="col col-20 text-right">
                  <button class="button button-block button-small button-balanced"  
                  ng-click = "view.summary();">View</button>
               </div>
            </div>
         </div>
       </div>
         <hr>
      </label>
      
        <div class="info-msg bg-gray">
          <div class="padding text-green">
        If you feel unwell or would like to chat to someone at the hospital about your illness, you don't need to wait for your next
        appoinment, just select the contact us button at the top of the screen
        </div>
        </div>
       
        <div class="padding">
         <h5 class="f-w-400">{{view.projectName}} Project Questionnaire - 1</h5>
      </div>

     <!--  <div class="row dashboard">
         <div class="col col-center text-center">
            <img src="images/cardiac-care.png" alt="Cardiac Care" width="150"/>
         </div>
         <div class="col col-70">
            <h3 class="title"><b>40%</b></h3>
            <p><i class="icon ion-record text-muted"></i> 4 Questionnaires Missed</p>
            <h3 class="title"><b>60%</b></h3>
            <p><i class="icon ion-record text-leaf"></i> 6 Questionnaires Submitted</p>
         </div>
      </div> -->
      
          <div class="text-center">
             <div id="chartdiv" style="width: 100%; height: 351px;"></div>
          </div>
   </ion-content>
</ion-view>
<script>

            AmCharts.makeChart("chartdiv", {
                "type": "pie",
                "dataProvider": [{
                    "questionnaires": "Questionnaires Missed",
                        "litres": 144
                }, {
                    "questionnaires": "Questionnaires Submitted",
                        "litres": 216
                }],
                "responsive": {
                    "enabled": true,
                  },
                "titleField": "questionnaires",
                "valueField": "litres",
              
                "colors": [
                    "#959595",
                    "#7bc67a"
                  ],
                  "marginBottom": 0,
  "marginTop": 0,
                "balloonText": "[[title]]<br><span style='font-size:14px'><b>[[value]]</b> ([[percents]]%)</span>",
                "legend": {
                    "align": "center",
                    "valueWidth": 100,
                    "valueText": "[[percents]]%  [[value]]",
                    "markerType": "circle"
                }

            });

        </script>