
<ion-view>
   <ion-nav-title>
   <!--  <h1 class="title">{{view.hospitalName}}</h1> -->
   </ion-nav-title>
   <ion-content>
    <br>
    <div class="text-center">
      <div class="padding">
      <div class="row">
        <div class="col">
          <img src="images/contact.png" alt="Sutter Davis Hospital" width="120"/>
          <h4>If you feel unwell or would like to chat with someone at the hospital ,about your illness. you don't
            need to wait for your next appointment, just select contact us button at the top of the screen</h4>
          <br>
          <div class="row">
            <div class="col"></div>
            <div class="col col-80">
               <button class="button button-block button-balanced"
                  ng-click="view.startQuiz()">
                  Start
                </button>
             </div>
            <div class="col"></div>
          </div>
        </div>
      </div>
      </div>
    </div>
 
   </ion-content>
</ion-view>
