<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="../www/css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter">

    <ion-pane class="has-header">
   
 <div class="bar bar-header bar-light">
   <button class="button button-clear black-arrow"><span class="ion-chevron-left"></span></button>
    <h1 class="title">NHS Hospital</h1>
    </div>
     <ion-content class="has-header">
     <br>
      <div class="row">
        <div class="col col-center"><img src="../www/images/logo.jpg" alt="Sutter Davis Hospital" width="57"/></div>
        <div class="col col-80"><h4 class="f-w-400">Cardiac Intensive Care</h4>
          <h5>Your Ref. Code: AEN4235</h5>
        </div>
      </div>
     <div class="bg-gray">
      <div class="padding">
      <div class="row">
      <div class="col">
      <h4 class="f-w-400 text-green">Password</h4>
      <h5>You can change your password by entering a new password below</h5><br>
      <h5>Your Current Password : <span class="f-w-400">myhealth</span></h5><br>
        <label class="item-input item-icon-right b-b">
          <i class="icon ion-ios-help-outline text-green"></i>
          <input type="password" placeholder="Enter New Password">
        </label>
        <label class="item-input">
          <input type="password" placeholder="Re-enter Password">
        </label>
        <br>
       <button class="button button-block button-balanced">Update Password</button><br>
     </div>
     </div>
     </div>
    </div>
      </ion-content>
    </ion-pane>
  </body>
</html>
