
<ion-view>
   <ion-nav-title>
   <!--  <h1 class="title">{{view.hospitalName}}</h1> -->
   </ion-nav-title>
   <ion-content>
  <div class="text-center start-questionnaire">
          <div class="padding">
            <div class="col">
              <img src="images/contact.png" alt="NHS Hospital" width="115"/>
             <h4>If you feel unwell or would like to chat with someone at our hospital, you don't need to wait for your next appoinment. Just use the information below to get in touch.</h4>
            <h5 class="f-w-500">You can call a nurse during working hours</h5>
            <div class="row">
              <div class="col"></div>
              <div class="col col-80"> 
                <button class="button button-block button-balanced"
                  ng-click="view.call()">
                    Call Us Now 
                </button>
              </div>
              <div class="col"></div>
            </div>
            <h4 class="f-w-400 line-title"><span>OR</span></h4>
            <h5 class="f-w-500">Email the team at</h5>
            <h5 class="f-w-400"><a href="mailto:MRIPanc@nhshospitals.nhs.uk" class="text-green">MRIPanc@nhshospitals.nhs.uk</a></h5>
            </div>
       </div>
      </div>
 
   </ion-content>
</ion-view>
