
<ion-view>
  <!-- ng-init="view.init();" -->
   <ion-nav-title>
   <!--  <h1 class="title">{{view.hospitalName}}</h1> -->
   </ion-nav-title>
   <ion-content ng-switch="view.display">
      
      <div class="loader" ng-switch-when="loader">
          <ion-spinner>
          </ion-spinner>
      </div>

      <ion-refresher
        on-refresh="view.onPullToRefresh();"
        class="aj-refresher">
      </ion-refresher>

      <div ng-switch-when="noError" class="notification-screen"   >
         <div ng-repeat ="notify in view.data" ng-click="clicker(notify)" > 
          
            <div class="row notification-row" 
              ng-if = "notify.type === 'beforOccurrence'">
                  <div class="col col-80" ng-click ="view.seenNotify(notify.id)">
                      <div>
                        
                          <p class="f-w-400 notification-msg">Questionnaire is due on 
                          <span class="text-green">{{notify.occurrenceDateDisplay}}. </span></p>
                      </div>
                  </div>
                  <div class="col text-right notification-time" ng-click="view.deleteNotify(notify.id)"> 
                      <a class="button icon ion-ios-close delete-btn"></a>
                  </div>
            </div>

            <div class="row notification-row" 
                ng-if = "notify.type === 'missedOccurrence'">
                <div class="col col-80" ng-click ="view.seenNotify(notify.id)">
                    <div>
                      
                      <p class="f-w-400 notification-msg">You have missed the questionnaire due on 
                          <span class="text-green">{{notify.occurrenceDateDisplay}}. </span></p>

                       <!--  <p class="f-w-400">Questionnairre was due on {{notify.occurrenceDateDisplay}}. 
                          Please submit it by<p> <p class="text-green"> {{notify.graceDateDisplay}} </p> -->
                    </div>
                </div>
                <div class="col text-right" ng-click="view.deleteNotify(notify.id)"> 
                    <a class="button icon ion-ios-close delete-btn"></a>
                </div>
            </div>

            <div class="row notification-row" 
                ng-if = "notify.type === 'beforeGracePeriod'" >
                <div class="col col-80" ng-click ="view.seenNotify(notify.id)">
                    <div>
                        
                        <p class="f-w-400 notification-msg">
                          Questionnaire was due on <span class="text-green">{{notify.occurrenceDateDisplay}}.</span> 
                          Please submit it by <span class="text-green"> {{notify.graceDateDisplay}}. </span></p>
                    </div>
                </div>
                <div class="col text-right" ng-click="view.deleteNotify(notify.id)"> 
                    <a class="button icon ion-ios-close delete-btn"></a>
                </div>
            </div>

            
        </div>

        <div class="row" ng-if="view.gotAllRequests && view.data.length == 0 ">
          <div class="col"></div>
            <div class="col col-80 "> 
            <br>
            <br>
              <h2 class="ion-ios-bell text-center op-4"></h2>
              <h4 class="text-center op-4">
                  There are no notifications to display
              </h4>
            </div>
            <div class="col"></div>
        </div>
            
         <!--  <div class="row">
            <div class="col"></div>
              <div class="col col-80"> 
                <button class="button button-block button-balanced" ng-if=" view.data.length > 0 ">Clear all Notifications
                </button>
              </div>
              <div class="col"></div>
          </div> -->
          <ion-infinite-scroll
            ng-if="view.canLoadMore"
            on-infinite="view.onInfiniteScroll();"
            distance="1%"
            class="aj-refresher">
          </ion-infinite-scroll>

      </div>

      <aj-error class="errors"
              error-type="view.errorType"
              ng-switch-when="error"
              tap-to-retry="view.onTapToRetry();">
      </aj-error>

   </ion-content>

   <ion-footer-bar

    class="notification-footer" ng-if="view.data.length">
      <div
        
        class="button clear-notification button-block button-balanced"
        ng-click="view.DeleteAll();">
        Clear displayed notifications
      </div>

   </ion-footer-bar>
</ion-view>
<!-- ng-class="{'hide':!view.data.length}" -->
