
<ion-view>
   <ion-nav-title>
   <!--  <h1 class="title">{{view.hospitalName}}</h1> -->
   </ion-nav-title>
   <ion-content ng-init="view.init()">
    <div class="text-center start-questionnaire">
          <div class="padding">
            <div class="col">
              <h4 class="text-green">Questionnaire cannot be submitted. This is a test app. </h4> 
               
          <h4 class="m-b-20">If you feel unwell or would like to chat with someone at the hospital about your illness, you don't have to wait for your next appoinment, Just use the information below to get in touch.</h4>
            <h5 class="f-w-400">You can call a nurse during working hours on</h5>
            <h5 class="f-w-400" ng-click="view.call()"><a  class="text-green">{{view.phone}}</a></h5>
            
            <h4 class="f-w-400 line-title m-t-10"><span>OR</span></h4>
            <h5 class="f-w-400">Email the team at</h5>
            <h5 class="f-w-400 m-b-0"><a href="" class="text-green">{{view.email}}</a></h5>
            <div class="row">
              <div class="col"></div>

              <div class="col col-80"> 
                <button
                  ng-click = "view.exit()" 
                  class="button button-block button-balanced">Exit</button>
              </div>
              <div class="col"></div>
            </div>
           </div>
       </div>
      </div>
 
   </ion-content>
</ion-view>
