<ion-pane class="has-header" ng-init="view.init();">
   
    <div class="bar bar-header bar-balanced row">
        <h1 class="title"><b>{{view.title}}</b></h1>
        <div class="right-buttons">
          <button class="button button-outline button-light icon ion-pause icon-right"></button>
           <button class="button icon ion-close button button-outline button-light icon-right"></button>
        </div>
    </div>

   <ion-content class="has-header">
         <div class="bg-yellow">
            <div class="padding">
              <div class="col">
                  <h5 class="f-w-400">Previous Answers:</h5><br>
                  <p class="f-w-400">{{view.data.pastAnswer}}</p>
                  <hr>
                  <p class="f-w-400">No Change</p>
                  <hr>
                  <h6>
                    <i class="icon ion-calendar"></i>
                    Submitted On {{view.data.submitedDate}}
                  </h6>
                </div>
            </div>
         </div>
          <!-- <div class="padding">
                <div class="col">
                <br>
              <h4 class="f-w-400">What is your current weight ?</h4>
                <div class="row">
                <div class="col">
                <label class="item-input item-icon-right b-b">
                  <input type="number" placeholder="Kgs">
                </label>
              </div>
               <div class="col">
                <label class="item-input b-b">
                  <input type="number" placeholder="St">
                </label>
              </div>
               <div class="col">
                <label class="item-input b-b">
                  <input type="number" placeholder="Lbs">
                </label>
                </div>
                </div><br>
                <div class="info-msg">
                <i class="icon ion-ios-information-outline text-green"></i> <span>Please Complete EITHER Kg OR stones and lbs box</span>
                </div><br>
             </div>
         </div>
          <hr class="broad"> -->
          <div>
              <div class="padding">
                    <div class="col">
                        <br>
                        <h5 class="f-w-400">{{view.data.questionTittle}}</h5>
                        <br>
                        <div class="info-msg">
                          <i class="icon ion-ios-information-outline text-green"></i> <span>Touch the Answer you want to select</span>
                        </div>
                      <br>
                  </div>
              </div>

              <div class="list">
                <label class="item item-radio">
                  <input type="radio" name="group" value="go" checked="checked" ng-repeat ="product in view.data.option">
                  <div class="item-content">
                  {{product.answer}}
                  </div>
                  <i class="radio-icon ion-checkmark"></i>
                </label>
                  
              </div>
         </div>
    </ion-content>
    
</ion-pane>
 
