<ion-view
   >
    <ion-nav-bar class="bar-light">


   <ion-nav-back-button
      ng-click="view.onBackClick()">
   </ion-nav-back-button>


 </ion-nav-bar>
   <ion-nav-title>
      Summary
    </ion-nav-title>   
    <ion-content ng-init="view.init();" class="has-footer">
     
      <div ng-repeat ="summary in view.data">
      <div class="padding">
         
         <h5 class="f-w-400">{{summary.question}}
         </h5>
              
         <span class="text-green f-w-400" ng-if="summary.input ===''"
         ng-repeat = "answer in summary.optionSelected track by $index">
            {{answer}} <br> 
         </span>
         <span class="text-green f-w-400" ng-if="summary.input !==''">
            {{summary.input}} &nbsp; {{summary.optionSelected[0]}}
         <span>
        
      </div>
       <hr>
      </div>
      
      <br>
   </ion-content>
   <div class="bar bar-footer submission">
      <div class="button-bar">
         <button 
            class="button button-balanced"
            >
         Back
         </button>
         <button 
            class="button button-assertive"
            ng-click="view.submitSummary()">
         Submit
         </button>
      </div>
   </div>
</ion-view>