.page-content{
	background: #f9f9f9;
	.bar{
		    background: #05A8A5;
		    ul li {
		    	a{
		    	opacity: 0.9;
		    	color: #fff;
		    	}
		    	&.active-item{
		    		background: #fff;
		    		a{
		    			color: #63696d;
		    		}
		    	}
		    }
	}
	.grid.simple .grid-body{
		border: 1px solid #f4f4f4;
	}
	.btn.btn-danger,.label-danger{
		background: rgba(253, 127, 104, 0.99);
		
	}
	.btn.btn-red{
		background: #FF7979;
		color: #fff;
	}
	.label-warning{
		    background-color: #DEB65D;
	}
	.text-danger{
		color: rgba(253, 127, 104, 0.99);
	}
	.text-warning{
		color: #DEB65D;
	}
	.bg-danger{
		background-color: #F3AFAF;
	}
	.bg-warning{
		background-color: #F7D3AB;
	}
	.bg-success{
		background-color: #88CAC4;
	}

	/****Chart Colors****/
	.bg-red{
		background-color: #F3AFAF!important;
	}
	.bg-amber{
		background-color: #F7D3AB;
	}
	.bg-green{
		background-color: #88CAC4!important;
	}
	.text-red{
		color: #f35958;
	}
	.text-amber{
		color:#fbb05e;
	}
	.text-green{
		color:#0aa699;
	}
}
.grey{
	color:#505458;
}
.p-17{
	padding: 17px!important;
}
.m-t-0{
	margin-top: 0;
}
b.f-w{
	font-weight: 600;
}
label{
  font-size: 15px;
}
.breadcrumb li{
	padding-left: 0;
}
.m-b-0{
	margin-bottom: 0;
}
.m-l-42{
	margin-left: 42px;
}
.table-responsive{
	overflow-x: scroll;
}
.view-tabs{
	background: transparent;
	border-bottom: 0;
	float: right;
	li{
		border: 1px solid #ddd;
		a{
			padding: 10px;
    		min-width: 35px;
    		height: 35px;
    		text-align: center;

		}
		&:last-child{
    			margin-left: 10px;
    		}
	}

}
.table-data{
	div.DTTT .btn:first-child{
		display: none;
	}
	table th{
		font-size: 12px;
	}
}
.black{
	    color: #282323;
}
.dl-horizontal {
	dt{
	    width: 175px;
	text-align: left;
	margin-bottom: 10px;
	}
	dd{
		margin-left: 175px;
		margin-bottom: 10px;
	}
}
.no{
	    width: 25px;
    height: 25px;
    background: #0090D9;
    display: inline-block;
    text-align: center;
    line-height: 25px;
    border-radius: 50%;
    color: #fff;
}
.bar-inner ul li.open{
	background: #fff;
}
.sortable.ui-sortable{
	    cursor: all-scroll;
	    .grid-body{
	    	padding: 15px;
	    }
}
.logo{
	    margin: 10px 14px;
	    border-right: 1px solid #ccc;
    	padding-right: 15px;
}
.m-0{
	margin: 0!important;
}
.feature-list{
	.col-md-3{
		padding: 0 25px 0 25px;
		height: 145px;
		&.b-r{
		border-color: #C1C1C1;
		h3{
			margin: 0;
			
		}
	}
	}

}
.sub-title{
	font-size: 19px;
}
.table tbody tr{ 
   		cursor: pointer;
	}
.select2-container.select2,input{
	margin-bottom: 15px;
}
.grid.solid.green{
	border-radius: 10px;
}
.page-content .breadcrumb a{
	margin-left: 0;
}
.page-title {
	h3{
	width: auto;
	}
	a i{
		font-size: 20px;
    	margin-left: 12px;
        top: -5px;
        float: none;
	}
}
.bg-gray{
	background: #eee;
}
.user-description-box{
	margin:0;
	.icon-row{
		.fa{
			font-size: 20px;
			margin-right: 15px;
		}
	}
}
.ios-switch{
	  height: 30px!important;
	  width: 55px!important;
	 .handle{
	    width: 26px!important;
    	height: 26px!important;
    		
	    }
	    &.on .handle{
	    	-o-transform: translate3d(25px, 0, 0)!important;
    		-ms-transform: translate3d(25px, 0, 0)!important;
    		-moz-transform: translate3d(25px, 0, 0)!important;
    		-webkit-transform: translate3d(25px, 0, 0)!important;
    		transform: translate3d(25px, 0, 0) !important;
    		}
}
.inner-tabs{
	background: transparent;
	border-bottom: none;
	border-right: none!important;
	li{

		 a{
		    color: #505558;
		}
		&.active,&:hover,&:focus,&:visited{
		a{
			color: #0aa699;
			i{
				color: #999;
			}

		}
	}
	}
	
}
.active-label{
	background: #949494;
    color: #fff;
}
    
/***Error Style***/
ul.parsley-errors-list{
	li{
		color:#f35958!important;
	}
}
/***Image Upload***/
div.upload {
    width: auto;
    height: 200px;
    background: #eee;
    overflow: hidden;
    position: relative;
    input{
    	display: block !important;
    width: 100% !important;
    height: 200px !important;
    opacity: 0 !important;
    overflow: hidden !important;
    cursor: pointer;
    }
    .img-div{
    	text-align: center;
    	top: 27%;
    	position: absolute;
    	left: 0;
    	right: 0;
    	img{
    		margin:0 auto;
    	}
    }
}
/****DASHBOARD****/
.top-data{
	.col-md-2{
		width: 20% !important;
		
		span{
			font-size: 19px;
		}
	}
	.col-md-6{
		width: 39% !important;

		span{
			font-size: 26px;
		}
	}
	.tiles{
		height: 147px;
		border-bottom: 2px solid #E6E6E6
	}
}
.alert-black {
background: #ABABAB;
border: 0px;
font-size: 16px;
color: #fff;
}
.flagcount{
	sm{
		font-size: 12px;
		font-weight: 400;
	}
}
.sorting{
	text-align: center;
	padding: 0px !important;
	sm{
		font-weight: 100;
		font-size:9px;
		padding: 0px 3px;
		&:hover{
			/*color: #05A8A5;*/
			cursor: pointer;
		
		}
		i{
			display: inline-block;
		}
	}
	b{
		font-weight: 100;
		font-size:12px;
		padding: 0px 7px;
	}
	span{
		 padding-left: 5px;
    	padding-right: 5px;

	}
}

.sm-font{
	    font-size: 12px;
    float: left;
    margin-left: 10px;
}
.lst-sub{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.lst-sub h2 {
    font-size: 23px!important;
    padding: 0 12px;
    text-align: center;
    sm{
    	display: block;
    	font-size: 11px;
    	line-height: 12px;
    }
}
#chartdiv {
	width	: 100%;
	height	: 300px;
}	
#chartdiv2 {
	width		: 100%;
	height		: 500px;
	font-size	: 11px;
}
#trendline{
		width		: 120%;
		height		: 300px;
}	

//custom pie chart height: 
.piechart-height{
	height: 220px !important;
}

#piechart{
	width		: 100%;
	height		: 150px;
	font-size	: 11px;
	margin-left: 0px;
}
.amcharts-chart-div a{
	display: none !important;
}	
.grid-data-table{
	padding-bottom: 5px !important;
	    background: #D1DADE !important;
}	
.grid.simple .grid-title {
    padding: 14px 15px 0px 15px;
    background: #D1DADE;
    .tools .filterby{
    	   margin-top: -7px;
    }
}
.grid-table{	
.grid-body{
	    padding: 10px 0px!important;
}
thead{
	    color: #000;
    border-bottom: 2px solid #ccc;
}
}
select, input{
	border: 1px solid #A7A3A3!important;
}		
.input-append .add-on .arrow {
    background-color: transparent !important;
    position: absolute;
    left: -6px;
    color: #0AA699;
    z-index: 100;
    font-size: 26px;
}
.input-append .add-on, .input-prepend .add-on {
    position: absolute;
    background-color: #0AA699;
    color: #FFFFFF;
    text-shadow: none;
    border: #0AA699;
    border-radius: 0 2px 2px 0;
    height: 37px;
    min-width: 34px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 6px;
}	
.tiles .tiles-title {
    font-size: 15.5px;
    }
    .progress-bar-error{
    	background: #f35958 !important
    }

 .grid-table-sort{
 	.sorting sm {
    padding: 0px 10px;
	}
	.sorting span {
    padding-left: 15px;
    padding-right: 15px;
}
 }
#submissionschart{
		width		: 100%;
		height		: 220px;
		font-size	: 11px;
     canvas{
     	margin-left: 80px;
     	margin-top:20px;
     }
}
.filter2{
	margin-top: -8px;
}
.filterby{
	    float: right;
    width: 100px;
    margin-top: 6px;
    margin-right: 10px;
}
.table > tbody > tr > td{
	vertical-align: middle;
}
.demo {
       position: relative;
    i{
    position: absolute;
    bottom: 10px;
    right: 24px;
    top: auto;
    cursor: pointer;
    }
}
.daterangepicker{
	.ranges li{
		color: #6f7b8a;
		&.active,&:hover{
		background: #0AA699;
		border-color: #0AA699;
		color: #fff;
		}
	}
	td.active{
		background: #0AA699;
		&:hover{
			background: #0AA699;
		}
	}
	.daterangepicker_input{
		.input-mini{
				    padding-left: 25px!important;
			}
			i{
				top:11px;
			}
	}
	
}
/***loader styles***/
.cf-loader {
  display: inline-block;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.cf-loader:after {
  display: block;
  position: relative;
  width: 15px;
  height: 15px;
  -webkit-animation: rotate 0.6s linear infinite;
  -moz-animation: rotate 0.6s linear infinite;
  -ms-animation: rotate 0.6s linear infinite;
  -o-animation: rotate 0.6s linear infinite;
  animation: rotate 0.6s linear infinite;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border-top: 2px solid @color-primary;
  border-bottom: 2px solid @color-white;
  border-left: 2px solid @color-primary;
  border-right: 2px solid @color-white;
  content: '';
}


@keyframes rotate {
  0% {
    transform: rotateZ(-360deg);
    -webkit-transform: rotateZ(-360deg);
    -moz-transform: rotateZ(-360deg);
    -o-transform: rotateZ(-360deg);
  }
  100% {
    transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
  }
}
@-webkit-keyframes rotate {
  0% {
    transform: rotateZ(-360deg);
    -webkit-transform: rotateZ(-360deg);
    -moz-transform: rotateZ(-360deg);
    -o-transform: rotateZ(-360deg);
  }
  100% {
    transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
  }
}
@-moz-keyframes rotate {
  0% {
    transform: rotateZ(-360deg);
    -webkit-transform: rotateZ(-360deg);
    -moz-transform: rotateZ(-360deg);
    -o-transform: rotateZ(-360deg);
  }
  100% {
    transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
  }
}
@-o-keyframes rotate {
  0% {
    transform: rotateZ(-360deg);
    -webkit-transform: rotateZ(-360deg);
    -moz-transform: rotateZ(-360deg);
    -o-transform: rotateZ(-360deg);
  }
  100% {
    transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
  }
}
/***Error Style***/
ul.parsley-errors-list
{
 list-style-type: none;
   text-align: left;
   padding-left: 0;
}
   
ul.parsley-errors-list li {
 color: #f35958!important;
}

/****FOOTER****/
.footer{
	background-color: #D2D2D2;
	position: absolute;
	bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
	.footer-content{
		    padding-left: 26px;
    padding-right: 26px;
	}
	span{
		color: #757575;
	}
}
.grid.simple .grid-title .tools form
{
	display: inline-block;
}
.tableOuter
{
	position: relative;
	width: 97%;
	margin-left: 3%;

	.compared-to
	{
		margin-bottom: 10px;
    	margin-top: 20px;
		span
		{
			display: inline-block;
			margin-right: 30px;
			i
			{
				float: left;
				margin: 3px 10px 0 0;
			}
		}
	}

	.x-axis-text
	{
		width: 100%;
    	text-align: center;
    	font-size: 15px;
	}
	.y-axis-text
	{
		position: absolute;
	    left: -45px;	    
	    transform: rotate(-90deg);
	    top: 48%;
	    font-size: 15px;
	}	
}
.sticky-table-outer-div
{
width: 100%; 
overflow-x:scroll;  
padding-left:150px; 
overflow-y:visible;
padding-bottom:1px; 
border: 1px solid #f1f1f1;
border-bottom:none;		
}
.sticky-table-outer-div .table
{
	width: auto;
    table-layout: fixed;
    max-width: 100%;
}
.sticky-table-outer-div table tr
{
	display: table-row;
    width: 100% !important;
    float: left;
}
.sticky-table-outer-div.sticky-tableWidth table 
{
	width: 100%;
}
.sticky-table-outer-div.sticky-tableWidth table tr
{
	float: none;
}
.sticky-table-outer-div .table th
{
	text-align: center;
	width: 81px !important;
}
.sticky-table-outer-div .table td
{
	text-align: center;
	width: 81px !important;
}
.sticky-table-outer-div .table td i
{
	height: 16px;
}
.sticky-table-outer-div .table td i.hidden
{
	display: block !important;
}
.sticky-table-outer-div .table .headcol {
    position:absolute; 
    width:150px !important; 
    left:1px;
    top:auto;
    border-right: 0px none black;  
    background: #fff;             
    margin-right: 10px;
    text-align: left;
    /*height: 30px;*/
    overflow: hidden;
    padding: 0 10px !important;
    line-height: 3;    
} 
.th-headcol
{
	min-height: 80px;
}
.table td.no-data-found
{
	font-size: 28px;
    background: #f1f1f1;
    padding: 70px 0 !important;
    text-align: center; //Center Align
}
.adminlogin
{
	background: #fff;
    padding: 40px;
    width: 500px;
    margin: 0 auto;
    margin-top: 11%;
    border: 1px solid #ddd;
}
.input {
  margin: 50px;
  background: white;
  float: left;
  clear: both;
}
.input span {
  position: absolute;
  padding: 5px;
  margin-left: 3px;
  color: #999;
}
.input input, .input textarea, .input select {
  position: relative;
  margin: 0;
  border-width: 1px;
  padding: 6px;
  background: transparent;
  font: inherit;
}
select, select option
{
	text-transform: capitalize;
}
.filter-dropdown
{
	form
	{
		float: left;
	}
	.cf-loader
	{
		display: block;
	    width: 20px;
	    float: left;
	    margin-top: 14px;
	}
}
.table .p-h-0
{
	padding-right: 0 !important;
	padding-left: 0 !important;
}
.m-t-3
{
	margin-top: 3px;
}


.filter-label
{
	float: left;
	margin-right: 10px;
	margin-top: 2px;
}
.filter-dropdown.submission-filter
{
	form, .cf-loader
	{
		float: right;
	}
	form
	{
		label
		{
			float: left;
			margin-top: 14px;
		}
	}
}
.sort-table thead tr.md-size th
{
	padding: 0 3px 10px !important;
    font-size: 11px;
    border-top: 0 !important;

    a
    {
    	color: #333;
    }
    &.th-flag-outer
    {
    	position: relative;

    	a
    	{
    		position: absolute;
    		width: 20px;
		    height: 20px;
		    left: 11px;
    	}
    }
    &.no-sort
    {
    	.tableSortArrow
    	{
    		display: none;
    	}
    }
}
.grid-body
{
	position: relative;
	.loader-outer
	{
		position: absolute;
	    width: 100%;
	    height: 100%;
	    top: 0;
	    left: 0;
	    text-align: center;
	    background: rgba(255,255,255,.7);
	    z-index: 99;

	    span.cf-loader
	    {
	    	height: 50px;
		    width: 50px;
		    left: 50%;
		    top: 50%;
		    margin-left: -25px;
		    margin-top: -25px;
		    position: absolute;

		    &:after
		    {
		    	width: 50px;
   				height: 50px;
		    }
	    }
	}
}
.patient-search
{
	.btn, .btn-group.open .btn-info.dropdown-toggle
	{
		background: #fff !important;
		color: #333 !important;
		border:1px solid #ccc !important;
		box-shadow: none !important;
		outline: none !important;
		padding: 7px;
		&:focus
		{
			outline:none;
		}
	}
	.bootstrap-select .dropdown-toggle:focus
	{
		outline: none !important;
	}
	.bootstrap-select.btn-group .no-results
	{
		margin-bottom: 10px;
	}
}
.submission-chart-wt
{
	float: left;
	width: 33.33%;
	/*margin-top: 20px;*/
	margin-bottom: 20px;
	padding-left: 25px;

	span
	{
	    padding: 0;
	    margin-right: 20px;
	    font-size: 12px;
	    text-align: center;
	    color: #fff;
	    display: inline-block;
	    line-height: 3.5;
	    min-width: 40px;
	    min-height: 40px;
	    border-radius: 50%;

		&.previous
		{
			background: #76BEDF;
		}
		&.baseline
		{
			background: #FDD81A;
		}
		&.current
		{
			background: #90BE71;
		}
		&.input-text
		{
			color: #333;
			text-transform: capitalize;
			font-weight: 700;
			padding: 0;
		    line-height: 1;
		    min-height: auto;
		    margin-bottom: 8px;
		}
	}
}
.tiles .tiles-body .prev-base
{
	font-size: 12px;
}
.no-new-notification
{
	text-align: center;
	font-size: 20px;
	color: #999;
}
.health-tracker-grid 
{
	h4
	{
		margin-top: 2px;
	}
	select
	{
	    margin-top: -5px;
		margin-bottom: 9px;
	}
}
.msg-card{
	    overflow: visible;
}

.custom-table{
    width: 100%;
    border-collapse:collapse;
    table-layout: fixed;
    text-align: center;
}
.blue-previous{
	    color: #76BEDF;
}
.yellow-baseline{
	   color: #FDD81A;
}
.green-current{
	   color: #90BE71;
}
.legend-base{
	color:#ccc
}
.legend-prev{
	color:#05A8A5;
}

// notification section modification

.notify-panel{
	color: red;
}

.table-flip-scroll{
	&.table-center{
		width: auto;
		text-align: center;
	}
}

// form styles for MRI 

.mri-form{
	.side-label{
		margin: 10px 0;
		line-height: 1.1;
	}
	input.form-control{
		width: 60%;
	    margin: 0 16px 0 0;
	    float: left;
	}
	.seconds{
		font-size: 14px;
	    color: #05A8A5;
	    text-transform: capitalize;
	}
	.mri-submit{
		margin: 10px 0;
	}
}



// ui multi-select checkbox fixes

ul.ui-multiselect-checkboxes{
	li{
		label.ui-corner-all{
			span{
				vertical-align: middle;
				padding-left: 5px;
			}
		}
	}
}


// Breadcrum first letter caps

.breadcrumb{
	li{
		&.active{
			text-transform: capitalize;
		}
	}
}



.theme-color{
	color: #05A8A5;
}

.baseline-color{
	color: #576475;
}



