
   
 <div class="bar bar-header bar-light">
    <a href="#"><img src="images/logo.jpg" alt="Sutter Davis Hospital" width="35"/> </a>
    <h1 class="title">Sutter Davis Hospital</h1>
    </div>
     <ion-content class="has-header">
     
     <div class="text-center">
      <div class="padding">
      <div class="row">
      <div class="col">
      <br>
      <h3>Welcome to our "Cardiac Care" Project specially designed to work towards your better tomorrow</h3>
      <img src="images/cardiac-care.png" alt="Cardiac Care" width="210"/>
        <h4 class="f-w-400 text-green">Please provide a new password for your Account</h4>
        <label class="item-input item-icon-right b-b">
          <i class="icon ion-ios-help-outline text-green"></i>
          <input type="password" placeholder="Enter New Password">
        </label>
        <label class="item-input">
          <input type="password" placeholder="Re-enter Password">
        </label>
        <br>
       <button class="button button-block button-balanced" ng-click="view.completesetup()">Complete My Set-up</button><br>
     </div>
     </div>
     </div>
    </div>
      </ion-content>
