<ion-view>   
    <ion-content>
      <div class="text-center">
        <div class="padding">
        <div class="row">
            <div class="col">

              <h4>
                  Welcome to our "{{view.projectName}}" Project specially designed to work towards your better tomorrow
              </h4>
              <img ng-src="{{view.hospitalLogo}}" alt="Cardiac Care" width="210"/>

              <h5 class="f-w-400 text-green">
                 Please enter a four digit number for Password
              </h5>
              <div class="question-popup">
                    <i class="icon ion-ios-help-outline text-green"  ng-click="view.passwordHelp()"></i>
                    <label class="item-input item-icon-right b-b" ng-form="form">
                        <input type="tel" 
                        ng-model="view.New_password"
                        id="password"
                        ng-click="view.clear()"
                        min="1" 
                        max="99"
                        maxlength="4"
                        onlydigitinput="inputvalidation" 
                        placeholder="Enter New Password" ng-required>
                    </label>
                    <label class="item-input">
                        <input type="tel"              
                        ng-model="view.Re_password" 
                        id="password"
                        placeholder="Re-enter Password"
                        min="1" 
                        max="99"
                        maxlength="4"
                        onlydigitinput="inputvalidation" 
                        ng-click="view.clear()"
                        ng-required pw-check="view.New_password">
                    </label>

                    <div class="text-left text-danger">
                        {{view.passwordmissmatch}}
                    </div>
                    <div>
                        <br>
                        <button 
                            class="button button-block button-balanced" ng-click="view.completesetup()">
                            Complete My Set-up
                        </button>
                        <br>
                    </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ion-content>
</ion-view>
