
      <ion-content>
      <div class="row">
        <div class="col">
     <div class="text-center">
      <div class="padding">
      <h1 class="text-primary">Hi !</h1>
      <h3>Welcome to<br>your Healthcare Portal</h3>
    </div>
      <div class="list list-inset">
        <h5 class="f-w-400">Enter your Login Details</h5>
         <label class="item item-input">
          <input type="text" placeholder="Enter 8 Digit Reference Code">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Enter your Password">
        </label><br>
       <button class="button button-block button-calm" ng-click="view.mainlogin()">Login</button><br>
       <a href="#" class="button-clear button-calm btn-link" >Forgot Reference Code <br>or Password</a>
      </div>
   </div>
   </div>
   </div>
      </ion-content>
   