
<!-- <div class="popup-container popup-showing" ng-class="cssClass"> -->
<div class="popup">
   <div class="popup-body">
     <div class="text-center">
      <div class="padding">
      
      <i class="icon ion-close-circled text-danger"></i>
      <br><br>
      <p>Are you sure your want to cancel all the Answers you answered ? </p>
      
      <div class="row">
        <div class="col">
          <button 
            class="button button-block button-balanced button-small"
            ng-click="view.closePopup()">
              No, Go Back
          </button>
        </div>
        <div class="col">
          <button 
            class="button button-block button-assertive button-small"
            ng-click = "view.cancelQuiz()">
            Yes, I am Sure
          </button>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
<!--     </div> -->
  
      
       
     
    
    
    