
<!-- <div class="popup-container popup-showing" ng-class="cssClass"> -->
<div class="popup">
  
  <div class="popup-body">
    <div class="text-center">
      <div class="padding">
        <div class="ic">
        <i class="icon ion-pause"></i>
        </div><br>
        <p>Are you sure you want to pause and answer your questionnaire later ?
        All the questions answered till now will be saved.</p>
    </div>
    </div>
    <div class="row">
        <div class="col">
          <button 
            class="button button-block button-balanced button-small"
            ng-click="view.closePopup()">
              No, Go Back
            </button>
        </div>
        <div class="col">
          <button 
            class="button button-block button-assertive button-small"
            ng-click="view.exitApp()">
            Yes, I am Sure
          </button>
        </div>
    </div>
</div>
</div>
<!--     </div> -->
  
      
       
     
    
    
    