<!--  <ion-pane>
    <ion-content>
      <div class="text-center">
        <div class="padding">
          <span></span>
          <h1>We are Sorry !</h1><br>

          <p>Without your Reference Code you cannot use this Portal</p><br>
          <p>Contact your Hospital Administrator or Physician and recheck your Reference Code.</p>

          <h3 class="f-w-400 line-title"><span>OR</span></h3>
          <div class="row">
          <div class="col"><button class="button button-block button-calm">Call Us</button></div>
          <div class="col"><button class="button button-block button-dark">Close</button></div>
       </div>
      </div>
    </div>
  </ion-content>
 </ion-pane> -->

 <h1>contact Hospital</h1>