
<!-- <div class="popup-container popup-showing" ng-class="cssClass"> -->
<div class="popup">
    <div class="popup-head">
    <!-- <h1 class="popup-title ng-binding" ng-bind-html="title">
      We are Sorry !
    </h1> -->
    <h3 class="f-w-400">We are sorry !</h3>
    </div>
    <div class="popup-body">
        <p>Without your reference code you cannot use this portal.</p><br>
        <p>
            Contact your hospital administrator or physician and recheck your reference code.
        </p>
        <h4 class="f-w-400 line-title"><span>OR</span></h4>
        <div class="row">
            <div class="col">
              <button class="button button-block button-small button-calm" ng-click="view.hide();view.call()">
                Call us
            </button>
            </div>
            <div class="col">
              <button class="button button-block button-small button-dark" ng-click="view.hide()">  Close
              </button>
            </div>
        </div>
    </div>
  
</div>
<!--     </div> -->
  
      
       
     
    
    
    