
<!-- <div class="popup-container popup-showing" ng-class="cssClass"> -->
<div class="popup">
    <!--<div class="popup-head">
     <h1 class="popup-title ng-binding" ng-bind-html="title">
      We are Sorry !
    </h1> -->
<!--     <h3 class="f-w-400">We are Sorry !</h3>
  </div> -->  
    <div class="popup-body">
      <br>
        <p>This is Unique Code that your Hospital Administrator or Physician should have provided you.</p>
        <p>
            In case you do not have one, then contact your Hospital Administrator or Physician.
        </p>
<!--         <h4 class="f-w-400 line-title"><span>OR</span></h4>
 -->        <div class="row">
            <!-- <div class="col">
              <button class="button button-block button-small button-calm">Call Us</button>
            </div> -->
            <div class="col"></div>
            <div class="col col-50">
              <button class="button button-block button-small button-dark" ng-click="view.hide()">  OK
              </button>
            </div>
            <div class="col"></div>
        </div>
    </div>
  
</div>
<!--     </div> -->
  
      
       
     
    
    
    