/*----------------------------------------
               MOBILE SCREENS
----------------------------------------*/
/***HELPER CLASSES***/
html,html * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
	h2{
		font-size: 2.429em;
	}
	h3{
		font-weight: 200;
	}
	h4{
		font-size: 1.500em;
		font-weight: 200;
	}
	h5{
		font-size: 1.286em;
		font-weight: 200;
		line-height: 26px;
	}
	h6{
		font-size: 1.000em;
		font-weight: 200;
	}
	p{
		line-height: 1.929em;
		font-weight: 200;
		color: @color-text-gray;
	}
	.margin-none{
		margin:0px;
	}
	.bold{
		font-weight:400;
	}
	.m-r-5{
		margin-right:5px;
	}
	.ion-android-arrow-dropdown:before {
    margin-right: 13px;
}
	.l-h-20{
  line-height: 20px;
}
.summary-ans-label{
	 margin-top: 10px;
    display: inline-block;
    margin-right: 10px;

}
.question-label{
	float: left;
	color:white;
}
.prev-answers{
	padding: 5px 10px !important;
    font-size: 12px;
    line-height: 18px;
}
.bar-light .button.activated {
    border-color: #ccc;
    background-color: #008380;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
}
.login-header .bar-light .button.activated {
    border-color: #fff;
    background-color: #fff !important;
    
}
.login-header{
	background: #fff !important;
	.header-item{
		color: #444 !important; 
	}
}
.item-input-type{
	.question{
	position: relative;
    left: inherit;
    float: left;
    border: 1px solid #ECECEC;
    margin: 0px 4px;
    width: 30%;
    padding: 5px;
	}
	span{
		 top: 20px !important;

	}
	b{
		float: left;
		margin-right: 5px;
		line-height: 30px;
		font-weight: 400;
	}
}
// .activated{
// 	background: #FFFCE7;
// }
.project-name{
	color: #00aaa7;
}
.op-4{
	opacity: .4;
}
	.m-b-20{
		margin-bottom: 20px;
	}
	.m-t-5{
		margin-top:5px;
	}
	.m-t-10{
		margin-top:10px;
	}
	.m-t-20{
		margin-top:20px;
	}
	.m-b-0{
		margin-bottom: 0;
	}
	.f-w-400{
		font-weight: 400;
	}
	.f-w-500{
		font-weight: 500;
	}
	.inline{
		display: inline;
	}
	.b-b{
		border-bottom: 0.071em solid #bbb;
	}
	.b-t{
		border-top: 0.071em solid #bbb;
	}
	.b-l{
		border-left: 0.071em solid #bbb;
	}
	.b-r{
		border-right: 0.071em solid #bbb;
	}
	.bg-gray{
		background: @color-light-gray;
		h6{
			margin: 0;
		}

	}
	.bg-yellow{
		background: @color-pale-yellow;
		hr{
			border-color: #EAEBBA;
			border-style: solid;
			margin: 1.429em 0 1.429em 0;
		}
	}
	hr{
		border-color: rgba(238, 238, 238, 0.34);
		&.broad{
			border: 0.500em solid @color-light-gray;
		}
	}
	.view-more{
		    color: #00AAA7 !important;
	}
	.text-primary{
		color: @color-primary!important;
	}
	.text-danger{
		color: @color-danger;
	}
	.text-green{
		color: @color-green-sea;
	}
	.text-leaf{
		color: @color-light-green;
	}
	.text-muted{
		color: @color-icon-gray;
	}
	.dashboard{
	p{
		line-height: 18px;
		margin-bottom: 0;
	}
	.title{
		margin-bottom: 5px;
		
		}
	}
	.errors{
		text-align: center;
	    padding-top: 10%;
	    color: #6B6B6B;
	    padding-bottom: 10%;
    	i.ion-sad-outline{
    	font-size:55px;
    	}
	}
	/***HEADER & FOOTER STYLES***/
	.bar{
		button{
			color:#fff !important;
		}
	&.bar-header{
		-webkit-box-shadow: 0 1px 4px 0px rgba(90, 90, 90, 0.51);
		-moz-box-shadow: 0 1px 4px 0px rgba(90, 90, 90, 0.51);
		box-shadow: 0 1px 4px 0px rgba(90, 90, 90, 0.51);
		background: #00AAA7;
		.button.update{
		margin-left: 5px;
			.badge{
				padding: 1px 6px;
				font-size: 11px;
			}
		}
		.ion-ios-telephone{
			font-size: 20px;
		}
		button{
			border-color: rgba(255, 255, 255, 0.5);
		    background-color: #00AAA7;
		    color: #FFF;
		    font-weight: bold;
		}
		.button-outline.button-balanced{
			border:1px solid rgba(255, 255, 255, 0.5);
			color: @color-green-sea;
			&.activated{
		/*		 border-color: #ccc;
				    background-color: #008380;
				    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);*/
			}
		}
	
		.title{
			color: @color-white;
			font-size: 1.071em;
			left: 0!important;
			right: 0!important;
			text-align: center;
		}
		
	}
		&.bar-footer{
			border-top: 0.071em solid #ddd;
			.button.button-icon{
				font-size: 14px;
				span{
					font-weight: 500;
				}
			}
			&.submission{
				padding: 0;
				.button-bar .button{
				border-radius: 0;
				}
			}
			&.broad-footer{
				height: 5.357em;
			}
		}

	}
	.q-title{
		font-weight: 500;
		display: table;
		.badge{
			width: 30px;
			height: 30px;
			border-radius: 50%;
    		background: #ee5235;
    		position: relative;
    		top: -4px;
    		margin-right: 9px;
    		line-height: 23px;
    		display: table-cell;
    		vertical-align: middle;
		}
	}
	/***ICONS***/
	.ic{
		width: 5.000em;
		height: 5.000em;
		background: @color-danger;
		border-radius: 50%;
		position: relative;
		margin: 0 auto;
		.icon{
			font-size: 2.786em;
			position: absolute;
			top: 16px;
			text-align: center;
			left: 0;
			right: 0;
			color: @color-white;
		}
	}
	.icon{
		&.ion-close-circled{
			font-size: 5.214em;
		}
		&.ion-ios-information-outline{
			font-size: 2.143em;
		}
	}
	h4.line-title,h3.line-title {
		position: relative;
		z-index: 1;
		color: @color-black;
			&:before {
			border-top: 0.071em solid @color-light-gray;
			content:"";
			margin: 0 auto; 
			position: absolute;
			top: 50%; left: 0; right: 0; bottom: 0;
			width: 95%;
			z-index: -1;
			color: @color-black;
		}

		span { 
			padding: 0 1.071em; 
			color: @color-black;
			background: @color-white;
		}
	}

	/***MESSAGES***/
	.info-msg{
		i{
			float: left;
    margin-right: 7px;
    position: relative;
    font-size: 20px;
		}
		
		&.bg-balanced{
			 background: #FFF4CB;
    color: #040404;
			i{
				top: 3px;
			}
		}
		.span-gray{
			color: #717070;
		}

	}
	/***BUTTONS***/

	.button{
		font-weight: bold;
		
		&.button-calm,&.button-calm.activated{
			-moz-box-shadow:0px 4px 0 0 #009CBF;
			-webkit-box-shadow:0px 4px 0 0 #009CBF;
			box-shadow: 0px 4px 0 0 #009CBF;
			border: none;
		}
		&.button-block.button-dark{
			background: @color-gray;
			-moz-box-shadow:0px 4px 0 0 #A8A8A8;
			-webkit-box-shadow:0px 4px 0 0 #A8A8A8;
			box-shadow: 0px 4px 0 0 #A8A8A8;
			border: none;
			&.activated{
				background: #A8A8A8;
				-moz-box-shadow:0px 4px 0 0 #A8A8A8;
				-webkit-box-shadow:0px 4px 0 0 #A8A8A8;
				box-shadow: 0px 4px 0 0 #A8A8A8;
				
			}
		}
		&.button-block.button-balanced{
			background: @color-green-sea;
			-moz-box-shadow:0px 4px 0 0 #008380;
			-webkit-box-shadow:0px 4px 0 0 #008380;
			box-shadow: 0px 4px 0 0 #008380;
			border: none;
			&.activated{
				background: #008380;
				-moz-box-shadow:0px 4px 0 0 #008380;
				-webkit-box-shadow:0px 4px 0 0 #008380;
				box-shadow: 0px 4px 0 0 #008380;

			}
		}
		&.button-block.button-assertive{
			background: @color-danger;
			-moz-box-shadow:0px 4px 0 0 #A73F2C;
			-webkit-box-shadow:0px 4px 0 0 #A73F2C;
			box-shadow: 0px 4px 0 0 #A73F2C;
			border: none;
			&.activated{
				background: #A73F2C;
				-moz-box-shadow:0px 4px 0 0 #A73F2C;
				-webkit-box-shadow:0px 4px 0 0 #A73F2C;
				box-shadow: 0px 4px 0 0 #A73F2C;

			}
		}
		&.button-assertive{
			background: @color-danger;
			border: none;
			&.activated{
				background: rgba(238, 82, 53, 0.8);
			}
		}
		&.button-balanced{
			background: @color-green-sea;
			border: none;
			&.activated{
				background: rgba(0, 170, 167, 0.83);
			}
		}

	}
	.button{
		&.black-arrow i{
			color: @color-black;
		}
		&.button-light.button-outline{
			&.ion-pause::before{
				font-size: 1.071em;
				padding-right: 4px;
			}
			&.ion-close::before{
				font-size: 1.071em;
				padding-right: 2px;
			}
		}
	}
	a.button-clear.btn-link{
		text-decoration: underline;
		line-height: 0;
		min-height: 0;
		color: #11c1f3;
		font-size: 1.071em;
	}

	.right-buttons{
		i.icon::before{
		font-size: 17px;
		}
	}
	.button.button-block.show-more{
		margin-top:0;
		margin-bottom:0;
		min-height: 25px;
		line-height: 40px;
	}
	/***INPUT TAGS***/
	.item-input input{
		height: 38px;
		line-height: 23px;

		&:-ms-input-placeholder { /* Internet Explorer 10-11 */
			color:    #333;
			font-size: 1.214em;
			font-weight: 200;
		}
		&::-webkit-input-placeholder { /* WebKit, Blink, Edge */
			color:    #333;
			font-size: 1.214em;
			font-weight: 200;
		}
		&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
			color:    #333;
			opacity:  1;
			font-size: 1.214em;
			font-weight: 200;
		}
		&::-moz-placeholder { /* Mozilla Firefox 19+ */
			color:    #333;
			opacity:  1;
			font-size: 1.214em;
			font-weight: 200;
		}

	}
	input[id=password]
	 { 
	 	-webkit-text-security: disc;
	 }
	/***LISTS***/
	.no-list .no{
		color: @color-white;
		font-size: 1.143em;
		background: #666;
		width: 33px;
		height: 33px;
		border-radius: 50%;
		display: table;
		margin-right: 15px;
		position: relative;
    	top: 2px;
		b{
			vertical-align: middle;
			display: table-cell;
			text-align: center;
		}
	}
	.item.item-radio,.item.item-checkbox{
		outline: none;
		.item-content{
			padding: 16px 16px 16px 60px;
			text-overflow: initial;
    		white-space: normal;
    		position: relative;
    		span{
    			position: absolute;
    			left: 10px;
    			width: 28px;
    			height: 28px;
    			border-radius: 50%;
    			text-align: center;
    			background: #eee;
    			top: 13px;
    			line-height: 28px;
    		}
		}
		&.item-radio input:checked ~ .item-content{
			background: @color-pale-yellow;
			span{
				background: #7bc67a;
    			color: #fff;
    			}
			}
			
		
		
		.radio-icon{
			visibility: visible;
			font-size: 1.071em;
			border: 0.071em solid @color-gray;
			width: 28px;
			height: 28px;
			border-radius: 50%;
			text-align: center;
			color: @color-white;
			padding: 0.286em;
			position: absolute;
			top: 50%;
			right: 8px;
			left: 13px;
			z-index: 3;
			margin-top: -14px;
			&::before{
				position: relative;
    			top: -3px;
				opacity: 0;
			}
		}
		
	}
	
ul{
	.item.item-checkbox.mcq{
		    white-space: initial;
		div span{
			position: absolute;
    		left: 15px;
    		width: 28px;
    		height: 28px;
    		border-radius: 50%;
    		text-align: center;
    		background: #eee;
    		top: 12px;
    		line-height: 28px;
    		z-index: 9;
    		}
    	input::before{
    			opacity: 0;
    		}
	}
	.mcq_active{
    		background: @color-pale-yellow;
    		div span{
			
    		background: @color-light-green!important;
    		color: #fff;
    		}

    	}
}
	
	.clm-list{
		// border-bottom: 1px solid #eee;

		.button{
			margin: 0.286em;
		}
		h6.f-w-400{
			font-size: 1.071em;
			margin-top: 0.214em;
			i{
				font-size: 1.429em;
				position: relative;
				top:2px;
			}
		}
		div.row{
			border-bottom: 1px solid #ddd;
		}
	}
	.card{
		margin-top: 0;
	}
	.loading-container .loading{
		background: transparent;
		h3{
			color: @color-black;
			margin-bottom: 0;
		}
		.popup{
			p{
				font-size: inherit;
			}
			.popup-body,.popup-head{
				background: @color-white;
				border-bottom: none;
			}
		}
	}
.list.list-inset,.question-popup{
  	position: relative;
  	i.ion-ios-help-outline,.ion-eye{
  		position: absolute;
    	z-index: 10;
    	right: 0;
    	top: 0;
    	padding: 11px;
    	font-size: 27px;
  	}
  	& .ion-eye{
  		color: #717070;
  	}
  }
  .loader{
  	text-align: center;
    padding-top: 54%;
    &.dashboard-loader
    {
    	padding-top: 0;
    }
  }
  .buttons{
  	.button-light.button-outline{
  		width: auto;

  	}
  }
  .q-title{
		font-weight: 500;
		.badge{
			width: 25px;
			height: 25px;
			border-radius: 50%;
    		top: -2px;
    		line-height: 21px;
    		position: relative;
    		margin-right: 2px;
    	}
	}
	.scroll-down{
		position: fixed;
    	right: 15px;
    	top: 5%;
	}

.label-outer
{
	label
	{
		padding: 0;

		input
		{
			padding: 0 10px;
			border:1px solid @color-light-gray;
			margin-right: 10px;
		}

		input[disabled] + span
		{
			color: #999;
		}
	}
}
.input-lable
{
	padding: 0 !important;

	input
	{
		padding: 10px;
	    height: 45px;
	    border: 1px solid #ccc;
	}
}
.delete-btn
{
	padding: 5px;
    min-width: 20px;
    min-height: 15px;
    line-height: 20px;
    margin-top: 10px;
    background: @color-white;
        border: 0px;

    &:before
    {
    	line-height: 20px !important;
    	margin-top: 1px !important;
    	color: @color-danger;
    }
}
.notification-footer
{
	padding: 0;

	.button.clear-notification
	{
		width: 100%;
	    margin: 0 -4px 0 0;
	    line-height: 3.2;
	    border-radius: 0;
	}
}
.notification-row
{
	border-bottom: 1px solid #ccc;
	.notification-msg
	{

    line-height: 20px;
	margin-bottom: 0;
	overflow: visible !important;
    white-space: normal !important;
	}
	.notification-time
	{
		a.delete-btn
		{
			/*padding: 2px;		    
		    min-height: 8px;
		    line-height: 12px;*/
/*
		    &:before
		    {
		    	font-size: 18px;
		    }*/
		}
	}

}
.descriptive-text
{
	height: 90px;
	font-size: 14px;
	line-height: 1.2;
}
@media screen and (max-width:767px) and (orientation:landscape){
	.loader{
		padding-top: 21%;
		&.dashboard-loader
		{
			padding-top: 0;
		}
	}
	.info-msg.bg-balanced{

		i.ion-ios-information-outline{
			top: -6px;
		}
	}
	.errors{
		
	    padding-top: 5%;
    	
    	
	}
}
@media (max-width: 768px){
	.bar.bar-white{
		
	}
	
}
  /*-------------------------------------------
                  TABLET SCREENS
---------------------------------------------*/
  
@media (min-width: 768px) and (max-width: 1024px){
  	.centering{
  		padding-top: 0;
  	}
  	.padding{
  		padding: 20px;
  	}
  	.col,.row{
  		padding: 10px;
  	}
  	h1{
  		font-size: 72px;
  		margin-bottom: 20px;
  	}
  	h2{
		font-size: 65px;
	}
	h3{
		font-size: 42px;
		font-weight: 200;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	h4{
		font-size: 40px;
		font-weight: 200;
	}
	h5{
		font-size: 25px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	h6{
		font-size: 19px;
		font-weight: 200;
	}
	span{
		font-size: 19px;
	}
	.info-msg{

		i.ion-ios-information-outline{
			font-size: 34px;
			top: -7px;
		}
	}
	.button{
		min-height: 55px;
		font-size: 20px;
		margin-top: 20px;
		margin-bottom: 20px;
		&.button-small{
			min-height: 40px;
		}
	}
	h4.line-title,h3.line-title {
		&:before {
			top: 64%;
		}
	}
	.item-input input{
		height: 53px;
		font-size: 20px;
    	
			&:-ms-input-placeholder { /* Internet Explorer 10-11 */
			color:    #333;
			font-size: 21px;
			font-weight: 200;
		}
		&::-webkit-input-placeholder { /* WebKit, Blink, Edge */
			color:    #333;
			font-size: 21px;
			font-weight: 200;
		}
		&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
			color:    #333;
			opacity:  1;
			font-size: 21px;
			font-weight: 200;
		}
		&::-moz-placeholder { /* Mozilla Firefox 19+ */
			color:    #333;
			opacity:  1;
			font-size: 21px;
			font-weight: 200;
		}
	}
	.clm-list{
		.button{
			margin: -2px;
		}
		h6.f-w-400{
			font-size: 21px;
			margin-top: 0;
			
		}
	}
	.start{
		img{
			width: 140px;
		}
	}
	.loading-container .loading .popup p{
		font-size: 23px;
	}
	a,a.button-clear.btn-link{
		  font-size: 23px;
	}
	.list.list-inset,.question-popup{
  		i.ion-ios-help-outline{
  		font-size: 35px;
  		padding: 14px;
  	}
  	i.ion-eye{
  		font-size: 27px;
    	padding: 19px;
  	}
  }

  .has-header {
    top: 55px;
	}
.has-footer{
	bottom: 55px;
}
.bg-yellow{
	border-bottom: 1px solid #EAEBBA;
	p{
		font-size: 18px;
	}
	h5,.col{
		margin:0;
	}
}

/***NAVBAR***/
  	.bar{
	&.bar-header{
		height: 55px;
		
		img{
			height: 42px!important;
		}
		.title{
			height: 54px;
			line-height: 55px;
		}
		button{
			margin:0 0 0 10px;
	
		}
		.right-buttons{
			top:3px;
			right: 6px;

			
		}
		
	}
	&.bar-footer{
		height: 55px;
		.button{
			margin:0;
			font-size: 18px;
			position: relative;
			top: 0;
			&.button-icon .icon:before{
				font-size: 40px;
			}
		}
	}
}

	.item.item-radio{
		.item-content{
			padding: 28px 16px 28px 69px;
			span{
				top: 23px;
			}
		}
		.radio-icon{
			left: 28px;
  			top: 35px;
		}
	}
	.item.item-checkbox{
		    padding: 28px 16px 28px 69px;
		    top:0;
		    .checkbox{
		    	top:0;
		    }
		// span{
		// 	padding: 23px;
		// }
		// .checkbox input, .checkbox-icon{
		// 	left: 28px;
		// 	top:35px;
		// }
	}
	.no-list .no{
		width: 30px;
		height: 30px;
		top:-5px;
		font-size: 14px;
	}
	// .notification{
 //  			width: 17px;
 //  			height: 17px;
 //  			font-size: 0.643em;
 //  			right: 2px;
 //  			top: -2px;
 //  			}
  	#chartdiv{
  		text{
  			font-size: 12px;
  		}
  	}
  	.q-title{
		font-weight: 500;
		.badge{
			width: 60px;
			height: 60px;
			border-radius: 50%;
    		top: -11px;
    		margin-right: 18px;
    		line-height: 49px;
    		font-size: 25px;
		}
	}
	/***Radio buttons***/
	.item.item-radio .item-content span{
		width: 35px;
		height: 35px;
		line-height: 38px;
	}
	.loader.dashboard-loader
    {
    	padding-top: 0;
    }
}


@media (min-device-width: 600px) and (max-device-width: 1024px) and (orientation:portrait){
		.prev-answers{
    font-size: 20px;
    line-height: 24px;
}
  	.centering{
  		padding-top: 10%;
  	}
  	.padding{
  		padding: 20px;
  	}
  	.col,.row{
  		padding: 10px;
  	}
  	#chartdiv{
  		text{
  			font-size: 12px;
  		}
  	}
  	h4.line-title,h3.line-title {
		&:before {
			top: 64%;
		}
	}
  	h1{
  		font-size: 72px;
  		margin-bottom: 20px;
  	}
  	h2{
		font-size: 65px;
	}
	h3{
		font-size: 42px;
		font-weight: 200;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	h4{
		font-size: 36px;
		font-weight: 200;
	}
	h5{
		font-size: 25px;
		margin-top: 20px;
		
	}
	h6{
		font-size: 19px;
		font-weight: 200;
	}
	span{
		font-size: 19px;
	}
	.info-msg{

		i.ion-ios-information-outline{
			font-size: 34px;
			top: -7px;
		}
	}
	.errors{
		text-align: center;
	    padding-top: 24%;
    	color: #6B6B6B;
    	i.ion-sad-outline{
    	font-size: 76px;
    	}
	}
	.button{
		min-height: 55px;
		font-size: 20px;
		margin-top: 20px;
		margin-bottom: 20px;
		&.button-small{
			min-height: 40px;
		}
		&.delete-btn
		{
			min-height: 10px;
			border: 0px;			
    		margin: 4px 0 0 0;
		}
	}

	.item-input input{
		height: 53px;
		font-size: 20px;
    	
			&:-ms-input-placeholder { /* Internet Explorer 10-11 */
			color:    #333;
			font-size: 21px;
			font-weight: 200;
		}
		&::-webkit-input-placeholder { /* WebKit, Blink, Edge */
			color:    #333;
			font-size: 21px;
			font-weight: 200;
		}
		&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
			color:    #333;
			opacity:  1;
			font-size: 21px;
			font-weight: 200;
		}
		&::-moz-placeholder { /* Mozilla Firefox 19+ */
			color:    #333;
			opacity:  1;
			font-size: 21px;
			font-weight: 200;
		}
	}
	.clm-list{
		.button{
			margin: -2px;
		}
		h6.f-w-400{
			font-size: 21px;
			margin-top: 0;
			
		}
	}
	.loading-container .loading .popup p{
		font-size: 23px;
	}
	a,a.button-clear.btn-link{
		  font-size: 23px;
		      margin-top: 20px;
    display: block;
	}
	.list.list-inset,.question-popup{
  		i.ion-ios-help-outline{
  		font-size: 35px;
  		padding: 14px;
  	}
  	i.ion-eye{
  		font-size: 27px;
    	padding: 19px;
  	}
  }

  .has-header {
    top: 55px;
	}
.has-footer{
	bottom: 55px;
}
.bg-yellow{
	border-bottom: 1px solid #EAEBBA;
	p{
		font-size: 18px;
	}
	h5,.col{
		margin:0;
	}
}
/***MCQS***/
ul{
	.item.item-checkbox.mcq{
		    white-space: initial;
		div span{
			width: 35px;
    		height: 35px;
    		top: 18px;
    		line-height: 14px;
    		padding: 10px;
    		}
    }
	
}
.prev-answers 
{
	small
	{
		font-size: 100%;
	}
}
.notification-screen
{
	.notification-row
	{
		border-bottom: 1px solid #ccc;
	}
	.notification-msg
	{
		font-size: 20px;
		margin-bottom: 0;
		line-height: 24px;
	}
	.notification-time
	{
		font-size: 16px;
	}
}
.item.item-radio .item-content span{
	width: 35px;
height: 35px;
line-height: 34px;
}
/***NAVBAR***/
  	.bar{
	&.bar-header{
		height: 55px;
		img{
			height: 42px!important;
		}
		.title{
			height: 54px;
			line-height: 55px;
		}
		button{
			margin:0 0 0 10px;
			height: 45px;	
			font-size: 17px;		
		}
		.right-buttons{
			top:3px;
			right: 6px;
			
			
		}
		&.bar-balanced .right-buttons{
			top:3px;
		}
		.button.update .badge
		{
			padding: 2px 6px;		    
		    height: 19px;
		}
	}
	&.bar-footer{
		height: 55px;
		.button{
			margin:0;
			font-size: 18px;
			position: relative;
			top: 0;
			height: 45px;
			&.button-icon .icon:before{
				font-size: 40px;
			}
		}
	&.submission
	{
		.button
		{
			height: 57px;
		}
	}	
	.button.clear-notification 
	{
		height: 57px;
	}
	}
}

	.item.item-radio{
		.item-content{
			padding: 30px 16px 28px 69px;
			span{
				top: 23px;
			}
		}
		.radio-icon{
			left: 28px;
  			top: 35px;
		}
	}
	.item.item-checkbox{
		    padding: 28px 16px 28px 69px;
		span{
			padding: 10px;
		}
		.checkbox input, .checkbox-icon{
			left: 6px;

		}
		.checkbox input
		{
			opacity: 0;
		}
	}




	li.item.item-checkbox.mcq
	{
		position: relative;
		/*.checkbox input
		{
			height: 100%;
			width: 100%;
		}*/
		div span
		{
			/*line-height: 15px;*/
			z-index: 1;
		}
	}
	/*.item.item-checkbox .checkbox
	{		
		height: 100%;
	}*/


	.loader.dashboard-loader
    {
    	padding-top: 0;
    }



	.no-list .no{
		width: 30px;
		height: 30px;
		top:-5px;
		font-size: 14px;
	}
.q-title{
		font-weight: 500;
		.badge{
			width: 60px;
			height: 60px;
			border-radius: 50%;
    		top: -10px;
    		margin-right: 18px;
    		line-height: 49px;
    		font-size: 25px;
		}
	}	
.prev-answers 
{
	h6
	{
		font-size: 22px;
	}
	small
	{
		font-size: 18px;
	}
}
.prev-ques-ans p
{
	font-size: 19px;
	line-height: 23px;
}

.start-questionnaire
{
	h4
	{
		font-size: 35px;
	}
}
}
@media (min-device-width: 768px) and (max-device-width: 1024px) and (min-aspect-ratio: 13/9){
	/***MCQS***/
	ul{
		.item.item-checkbox.mcq{
			 
			div span{
				width: 35px;
	    		height: 35px;
	    		top: 18px;
	    		line-height: 19px;
	    		padding: 10px;
	    		}
	    }
		
	}
	.loader{
		padding-top: 20%;
	}
	.loader.dashboard-loader
	{
		padding-top: 0;
	}
	.errors{
	text-align: center;
	    padding-top: 10%;
    color: #6B6B6B;
    .ion-sad-outline{
    	font-size: 76px;
    	}
	}
	.bar.bar-footer 
	{
		.button
		{
			height: 45px;
		}
		&.submission
		{
			.button
			{
				height: 57px;
			}
		}	
		.button.clear-notification 
		{
			height: 57px;
		}
	}
	.bar.bar-header
	{
		button
		{
			height: 45px;
		}
		.button.update .badge
		{
			padding: 2px 6px;		    
		    height: 19px;
		}
	}
	.button.delete-btn
	{
		min-height: 10px;
		border: 0px;
		margin: 4px 0 0 0;
	}
}
// @media screen and (min-width:768px) and (orientation:landscape){
// 	.loader{
// 		padding-top: 20%;
// 	}
// 	.errors{
// 	text-align: center;
// 	    padding-top: 10%;
//     color: #6B6B6B;
//     .ion-sad-outline{
//     	font-size: 76px;
//     	}
// 	}
// }

@media (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape)
{
	 	.loader{
		padding-top: 32%;
	}
	.q-title{
		.margin-none;
	}

		.prev-answers{
    font-size: 18px;
    line-height: 24px;
}
	.bar.bar-footer 
	{
		.button
		{
			height: 45px;
		}
		&.submission
		{
			.button
			{
				height: 57px;
			}
		}	
		.button.clear-notification 
		{
			height: 57px;
			margin: 0 -4px 0 0;
		}
	}
	.bar.bar-header
	{
		button
		{
			height: 45px;
			font-size: 14px;
		}
		.button.update .badge
		{
			padding: 2px 6px;		    
		    height: 19px;
		}
	}
	.button.delete-btn
	{
		min-height: 10px;
		margin: 4px 0 0 0;
		border:0px;
		padding-bottom: 3px;

	}
	.item.item-radio .item-content span
	{
		line-height: 35px;
	}
	li.item.item-checkbox.mcq
	{
		position: relative;
		.checkbox input
		{
			height: 100%;
			width: 100%;
		}
		div span
		{
			line-height: 15px;
			z-index: 1;
		}
	}
	.item.item-checkbox .checkbox
	{
		top: 20px;
		height: 100%;
	}
	.loader.dashboard-loader
    {
    	padding-top: 0;
    }
}

@media (min-width:600px) and (max-aspect-ratio: 13/9){
	/***NAVBAR***/
  	.bar{
	&.bar-header{
		button{
			margin:0 8px 0 10px;
			padding:0px 15px;
		}
		.right-buttons{
			top:8px;
			right: 6px;
			
		}
		
	}
}
.loader.dashboard-loader
    {
    	padding-top: 0;
    }

}

.button.button-block.show-more{
margin-top:0;
margin-bottom:0;
  background: rgba(37, 150, 149, 0.61);
  &.activated{
  	background: rgba(37, 150, 149, 0.61);
  }
}


	/***FOOTER***/

@media (min-width:700px) and (orientation:landscape)
{
	.bar.bar-footer 
	{
		.button
		{
			height: 45px;
		}
		&.submission
		{
			.button
			{
				height: 57px;
			}
		}	
		.button.clear-notification 
		{
			height: 57px;
			margin: 0 -4px 0 0;
		}
	}
	.bar.bar-header
	{
		button
		{
			height: 45px;
			font-size: 17px;

		}
		.button.update .badge
		{
			padding: 2px 6px;		    
		    height: 19px;
		}
	}
	.button.delete-btn
	{
		min-height: 32px;
		border: 0px;
		margin: 4px 0 0 0;
		padding-bottom: 3px;
	}
	.item.item-radio .item-content, .item.item-checkbox
	{
		padding-top: 30px;
	}	
	.item.item-radio .item-content span
	{
		line-height: 35px;
	}
	li.item.item-checkbox.mcq
	{
		position: relative;
		.checkbox input
		{
			height: 100%;
			width: 100%;
		}
		div span
		{
			/*line-height: 15px;*/
			z-index: 1;
			top: 28%;
			height: 35px;
			width: 35px;
			line-height: 35px;
		}
	}
	.item.item-checkbox .checkbox
	{
		top: 20px;
		height: 100%;
	}
	.prev-answers 
	{
		h6
		{
			font-size: 22px;
		}
		small
		{
			font-size: 18px;
		}
	}
	.prev-ques-ans p
	{
		font-size: 19px;
		line-height: 23px;
	}
	.start-questionnaire
	{
		h4
		{
			font-size: 35px;
		}
	}
	.notification-screen
	{
		.notification-row
		{
			border-bottom: 1px solid #ccc;
		}
		.notification-msg
		{

			font-size: 20px;
			margin-bottom: 0;

		}
		.notification-time
		{
			font-size: 16px;
		}
	}
	.q-title .badge
	{
		top: -9px;
	}
	.summary-header
	{
		font-size: 25px;
	}
	.loader.dashboard-loader
    {
    	padding-top: 0;
    }
}
.item-radio span i{
	color: #fff;
}
.activeLabel{
	.item-content{
			background:#f8fad1;
			span{
				 background: #7bc67a !important;
   				 color: #fff;
			}
	}
}
.question-type{
	label:last-child {
		border-bottom:0px;
	}
	div:last-child {
		border-bottom:0px;
	}
}
.hospital-logo{
	    width: 170px;
}