/***HELPER CLASSES***/
h2{
	font-size: 34px;
}
h3{
	font-weight: 200;
}
h4{
	font-size: 21px;
	font-weight: 200;
}
h5{
	font-size: 18px;
	font-weight: 200;
}
h6{
	font-size: 14px;
	font-weight: 200;
}
p{
	font-size: 20px;
    line-height: 27px;
    font-weight: 200;
    color: @color-text-gray;
}

.f-w-400{
	font-weight: 400;
}
.inline{
	display: inline;
}
.b-b{
	border-bottom: 1px solid #bbb;
}
.bg-gray{
	background: @color-light-gray;
}
.bg-yellow{
	background: @color-pale-yellow;
	hr{
		border-color: #EAEBBA;
		border-style: solid;
		margin: 20px 0 20px 0;
	}
}
hr{
	&.broad{
		border: 7px solid #eee;
	}
}
.text-primary{
	color: @color-primary;
}
.text-danger{
	color: @color-danger;
}
.text-green{
	color: @color-green-sea;
}
/***HEADER STYLES***/
.bar.bar-header{
	-webkit-box-shadow: 0 1px 4px 0px rgba(90, 90, 90, 0.51);
	-moz-box-shadow: 0 1px 4px 0px rgba(90, 90, 90, 0.51);
	box-shadow: 0 1px 4px 0px rgba(90, 90, 90, 0.51);
	.title{
		color: #000;
	}
	&.bar-balanced{
		background-color: @color-green-sea;
		color: #fff;
		.title{
		text-align: left;
		color: #fff;
		}
		.right-buttons{
			position: absolute;
    		right: 6px;
		}
	}

}
/***ICONS***/
.ic{
	width: 75px;
    height: 75px;
    background: @color-danger;
    border-radius: 50%;
    position: relative;
    margin: 0 auto;
    .icon{
    	font-size: 49px;
    	position: absolute;
    	top: 11px;
    	text-align: center;
    	left: 0;
    	right: 0;
    	color: @color-white;
    }
}
.icon{
	&.ion-close-circled{
	font-size: 80px;
	}
	&.ion-ios-information-outline{
		    font-size: 30px;
	}
}
h3.line-title {
    position: relative;
    z-index: 1;
    
    &:before {
        border-top: 1px solid @color-light-gray;
        content:"";
        margin: 0 auto; /* this centers the line to the full width specified */
        position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
        top: 50%; left: 0; right: 0; bottom: 0;
        width: 95%;
        z-index: -1;
    }

    span { 
        /* to hide the lines from behind the text, you have to set the background color the same as the container */ 
        background: @color-white; 
        padding: 0 15px; 
    }
}
/***MESSAGES***/
.info-msg{
	i{
		    float: left;
    margin-right: 7px;
	}
	span{
		    position: relative;
    top: 5px;
	}
}
/***BUTTONS***/

.button-block{
	font-weight: bold;
  	border: none;
	&.button-calm,&.button-calm.activated{
	-moz-box-shadow:0px 4px 0 0 #009CBF;
  	-webkit-box-shadow:0px 4px 0 0 #009CBF;
  	box-shadow: 0px 4px 0 0 #009CBF;
  		
  	}
	&.button-dark{
	background: @color-gray;
	-moz-box-shadow:0px 4px 0 0 #A8A8A8;
  	-webkit-box-shadow:0px 4px 0 0 #A8A8A8;
  	box-shadow: 0px 4px 0 0 #A8A8A8;
  		&.activated{
  			background: #A8A8A8;
  			-moz-box-shadow:0px 4px 0 0 #A8A8A8;
  			-webkit-box-shadow:0px 4px 0 0 #A8A8A8;
  			box-shadow: 0px 4px 0 0 #A8A8A8;

  		}
	}
	&.button-balanced{
		background: @color-green-sea;
		-moz-box-shadow:0px 4px 0 0 #008380;
  		-webkit-box-shadow:0px 4px 0 0 #008380;
  		box-shadow: 0px 4px 0 0 #008380;
  		&.activated{
  			background: #008380;
  			-moz-box-shadow:0px 4px 0 0 #008380;
  			-webkit-box-shadow:0px 4px 0 0 #008380;
  			box-shadow: 0px 4px 0 0 #008380;

  		}
	}

}
.black-arrow i{
	color: #000;
}
a.button-clear.btn-link{
	    text-decoration: underline;
	    line-height: 0;
	    min-height: 0;
	    color: #11c1f3;
	    font-size: 16px;
}


/***INPUT TAGS***/
.item-input input{
	height: 38px;
	line-height: 17px;

	&:-ms-input-placeholder { /* Internet Explorer 10-11 */
   	color:    #444;
   	font-size: 16px;
   	font-weight: 200;
	}
	&::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	    color:    #444;
	    font-size: 16px;
	    font-weight: 200;
	}
	&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	   color:    #444;
	   opacity:  1;
	   font-size: 16px;
	   font-weight: 200;
	}
	&::-moz-placeholder { /* Mozilla Firefox 19+ */
	   color:    #444;
	   opacity:  1;
	   font-size: 16px;
	   font-weight: 200;
	}

}
