/***HELPER CLASSES***/
h2 {
  font-size: 34px;
}
h3 {
  font-weight: 200;
}
h4 {
  font-size: 21px;
  font-weight: 200;
}
h5 {
  font-size: 18px;
  font-weight: 200;
}
h6 {
  font-size: 14px;
  font-weight: 200;
}
p {
  line-height: 27px;
  font-weight: 200;
  color: #444444;
}
.f-w-400 {
  font-weight: 400;
}
.inline {
  display: inline;
}
.b-b {
  border-bottom: 1px solid #bbb;
}
.bg-gray {
  background: #eeeeee;
}
.bg-yellow {
  background: #f8fad1;
}
.bg-yellow hr {
  border-color: #EAEBBA;
  border-style: solid;
  margin: 20px 0 20px 0;
}
hr {
  border-color: rgba(238, 238, 238, 0.34);
}
hr.broad {
  border: 7px solid #eeeeee;
}
.text-primary {
  color: #00bae5;
}
.text-danger {
  color: #ee5235;
}
.text-green {
  color: #00aaa7;
}
.text-leaf {
  color: #7bc67a;
}
.text-muted {
  color: #b1b1b1;
}
/***HEADER STYLES***/
.bar.bar-header {
  box-shadow: 0 1px 4px 0px rgba(90, 90, 90, 0.51);
}
.bar.bar-header .title {
  color: #000000;
  font-size: 15px;
}
.bar.bar-header.bar-balanced {
  background-color: #00aaa7;
  color: #fff;
}
.bar.bar-header.bar-balanced .title {
  text-align: left;
  color: #fff;
}
.bar.bar-header .right-buttons {
  position: absolute;
  right: 6px;
}
.bar.bar-header .right-buttons.trans-links {
  padding-top: 6px;
}
.bar.bar-header .right-buttons.trans-links a {
  font-size: 22px;
  padding-right: 11px;
  color: #000;
}
.bar.bar-footer {
  border-top: 1px solid #ddd;
}
.bar.bar-footer.submission {
  padding: 0;
}
.bar.bar-footer.submission .button-bar .button {
  border-radius: 0;
}
.bar.bar-footer.broad-footer {
  height: 75px;
}
/***ICONS***/
.ic {
  width: 75px;
  height: 75px;
  background: #ee5235;
  border-radius: 50%;
  position: relative;
  margin: 0 auto;
}
.ic .icon {
  font-size: 49px;
  position: absolute;
  top: 11px;
  text-align: center;
  left: 0;
  right: 0;
  color: #ffffff;
}
.icon.ion-close-circled {
  font-size: 80px;
}
.icon.ion-ios-information-outline {
  font-size: 30px;
}
h4.line-title,
h3.line-title {
  position: relative;
  z-index: 1;
  color: #000;
}
h4.line-title:before,
h3.line-title:before {
  border-top: 1px solid #eeeeee;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 95%;
  z-index: -1;
  color: #000;
}
h4.line-title span,
h3.line-title span {
  padding: 0 15px;
  color: #000;
  background: #ffffff;
}
/***MESSAGES***/
.info-msg i {
  float: left;
  margin-right: 7px;
}
.info-msg span {
  position: relative;
  top: 5px;
}
.info-msg.bg-balanced {
  background: #00aaa7;
  color: #fff;
}
/***BUTTONS***/
.button {
  font-weight: bold;
  border: none;
}
.button.button-calm,
.button.button-calm.activated {
  box-shadow: 0px 4px 0 0 #009CBF;
}
.button.button-block.button-dark {
  background: #bdbdbd;
  box-shadow: 0px 4px 0 0 #A8A8A8;
}
.button.button-block.button-dark.activated {
  background: #A8A8A8;
  box-shadow: 0px 4px 0 0 #A8A8A8;
}
.button.button-block.button-balanced {
  background: #00aaa7;
  box-shadow: 0px 4px 0 0 #008380;
}
.button.button-block.button-balanced.activated {
  background: #008380;
  box-shadow: 0px 4px 0 0 #008380;
}
.button.button-block.button-assertive {
  background: #ee5235;
  box-shadow: 0px 4px 0 0 #A73F2C;
}
.button.button-block.button-assertive.activated {
  background: #A73F2C;
  box-shadow: 0px 4px 0 0 #A73F2C;
}
.button.button-assertive {
  background: #ee5235;
}
.button.button-assertive.activated {
  background: rgba(238, 82, 53, 0.8);
}
.button.button-balanced {
  background: #00aaa7;
}
.button.button-balanced.activated {
  background: rgba(0, 170, 167, 0.83);
}
.button.black-arrow i {
  color: #000000;
}
.button.button-light.button-outline {
  color: #eeeeee;
  border-color: #eeeeee;
  width: 33px;
  height: 33px;
  margin-left: 6px;
  border-radius: 4px;
  border-width: 2px;
  border-style: solid;
}
.button.button-light.button-outline::before {
  font-size: 17px;
  line-height: 29px;
  padding-right: 1px;
}
a.button-clear.btn-link {
  text-decoration: underline;
  line-height: 0;
  min-height: 0;
  color: #11c1f3;
  font-size: 15px;
}
/***INPUT TAGS***/
.item-input input {
  height: 38px;
  line-height: 17px;
}
.item-input input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #444;
  font-size: 16px;
  font-weight: 200;
}
.item-input input::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #444;
  font-size: 16px;
  font-weight: 200;
}
.item-input input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #444;
  opacity: 1;
  font-size: 16px;
  font-weight: 200;
}
.item-input input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #444;
  opacity: 1;
  font-size: 16px;
  font-weight: 200;
}
/***LISTS***/
.no-list .no {
  color: #ffffff;
  font-size: 16px;
  background: #666;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: table;
}
.no-list .no b {
  vertical-align: middle;
  display: table-cell;
}
.item.item-radio .item-content {
  padding: 16px 16px 16px 60px;
}
.item.item-radio.item-radio input:checked ~ .radio-icon {
  background: #7bc67a;
  border-color: #7bc67a;
}
.item.item-radio.item-radio input:checked ~ .radio-icon::before {
  opacity: 1;
}
.item.item-radio .radio-icon {
  visibility: visible;
  font-size: 17px;
  border: 1px solid #bdbdbd;
  width: 29px;
  height: 29px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  padding: 5px;
  position: absolute;
  top: 50%;
  right: 8px;
  left: 13px;
  z-index: 3;
  margin-top: -14px;
  display: table;
}
.item.item-radio .radio-icon::before {
  vertical-align: middle;
  display: table-cell;
  opacity: 0;
}
.clm-list .button {
  margin: 3px;
}
.clm-list h6.f-w-400 {
  font-size: 15px;
}
.clm-list h6.f-w-400 i {
  font-size: 20px;
}
.loading-container .loading h3 {
  color: #000;
  margin-bottom: 0;
}
.loading-container .loading .popup p {
  font-size: inherit;
}
.loading-container .loading .popup .popup-body,
.loading-container .loading .popup .popup-head {
  background: #fff;
  border-bottom: none;
}
/***FOOTER***/
/*# sourceMappingURL=style.css.map */