 <ion-nav-bar class="bar-light" ng-init="view.init()">

 	<ion-nav-buttons side="left">
		<button 
			ng-if ="App.menuButtonEnabled"
			class="button icon ion-gear-a" 
			ng-click="view.resetPassword()">
		</button>
	</ion-nav-buttons>

	<ion-nav-back-button
		ng-click="view.onBackClick()">
	</ion-nav-back-button>

	<ion-nav-buttons side="right" class="buttons">
		<button
			ng-if="App.menuButtonEnabled"
			ng-click="view.contact()"
			class="button contact">Contact Us
		</button>
		  
		<button
			ng-if="App.menuButtonEnabled"
			ng-click="view.update()" 
			class="button update">
			<div 
				class="badge badge-assertive"
				ng-if="App.notification.badge">
				{{App.notification.count}}
			</div> 
			Messages
		</button>

		<button 
			ng-if="App.questinnarieButton"
			class="button button-outline button-balanced"
			ng-click="view.pause()"><i class="icon ion-pause"></i> Pause
		</button>

	</ion-nav-buttons>

 </ion-nav-bar>
  
<ion-nav-view name="appContent">

</ion-nav-view>
