 <ion-nav-bar class="bar-light">

 	<ion-nav-buttons side="left">
		<button class="button icon ion-gear-a" ng-click="view.resetPassword()"></button>
	</ion-nav-buttons>

	<ion-nav-back-button
		ng-click="view.onBackClick()">
	</ion-nav-back-button>

	<ion-nav-buttons side="right" class="buttons">
		<button
			ng-click="view.contact()"
			class="button contact">Contact Us
		</button>
		  
		<button
			ng-click="view.update()" 
			class="button update">
			<div class="badge badge-assertive">2</div> 
			Updates
		</button>	
	</ion-nav-buttons>

 </ion-nav-bar>
  
<ion-nav-view name="appContent">

</ion-nav-view>
