<div class="container" ng-init="view.init();">
  <!-- Wrapper for slides --><br> 
  <h3>Messages</h3>
  <br>
    <div class="row" ng-switch="view.display">

        <div ng-switch-when="error">
          <aj-error class="errors"
                  error-type="view.errorType"
                  tap-to-retry="view.onTapToRetry();">
          </aj-error>
        </div>

        <div class="col-md-16 bg-white" ng-switch-when="loader"> <!-- loader-->
               <div class="text-center"><span class="cf-loader"> </span></div>
        </div>

        

      <div class="col-md-17" ng-switch-when="noError">
       
          <div class="panel panel-default">
            <div class="panel-body">
              
                  <ul class="list-group notification-list">
                      <div ng-repeat ="notify in view.data">

                          <li class="list-group-item" 
                          ng-if = "notify.type === 'beforOccurrence'">
                            <span class="pull-right">
                            <a href="#" class="btn btn-xs text-success"><i class="fa fa-trash"></i></a>
                            </span>Your Questionnaire is due on {{notify.occurrenceDateDisplay}}

                          </li>

                          <li class="list-group-item" 
                          ng-if = "notify.type === 'missedOccurrence'">
                            <span class="pull-right">
                            <a href="#" class="btn btn-xs text-success"><i class="fa fa-trash"></i></a>
                            </span>Questionnairre was due on {{notify.occurrenceDateDisplay}}. 
                            Please submit it by {{notify.graceDateDisplay}} 
                          </li>

                          <li class="list-group-item" 
                          ng-if = "notify.type === 'missedOccurrence'">
                            <span class="pull-right">
                            <a href="#" class="btn btn-xs text-success"><i class="fa fa-trash"></i></a>
                            </span>Questionnairre was due on {{notify.occurrenceDateDisplay}}. 
                            Please submit it by {{notify.graceDateDisplay}} 
                          </li>

                      </div>
                  </ul>
             </div>
          </div>

      </div>
      <div class="col-md-7">
        <div class="sidebar">
          <div class="icon">
            <i class="glyphicon glyphicon-phone-alt"></i>
          </div>
          <br>
          <p class="text-muted">If you feel unwell or would like to chat with someone at the hospital about your illness, you don't have to wait for your next appoinment.<br>Just use the information below</p>
          <h6><b>CALL US ON</b></h6>
            <p><i class="fa fa-phone text-muted"></i>
            <a href="tel:0909384985" class="text-success">090 9384 985</a>
          </p>
          <p>OR</p>
          <h6><b>MAIL US AT</b></h6>
            <p><i class="fa fa-envelope text-muted"></i>
            <a href="mailto:MRIPanc@nhshospitals.nhs.uk" class="text-success">MRIPanc@nhshospitals.nhs.uk</a>
          </p>
        </div>
        <div class="sidebar panel-green">
          <i class="fa fa-ambulance fa-3x text-danger"></i>
          <p>In an emergency call the emergency services ! We are right here to help you.</p>
           <a href="contact.html" class="btn btn-default">Contact Us</a>
        </div>
        </div>
    </div>
</div>