<div class="container" ng-init="view.init();">
  <!-- Wrapper for slides --><br> 

  <div class="questWarning" ng-if="view.errorMsg != ''" >
            <i class="fa fa-2x fa-exclamation-circle"></i>
            <span> {{view.errorMsg}}</span>
  </div>

  <h3>Messages
   <div id="clear" class="text-center text-success pull-right clearNotification " ng-if="view.data.length > 0">
      <a type="button" class="btn btn-default btn-block btn-warning" ng-click="view.DeleteAll()">
          <span>Clear Displayed Notification</span>
      </a>
    </div>
  </h3>
  <br>
    <div class="row" ng-switch="view.display">

        <div ng-switch-when="error">
          <aj-error class="errors"
                  error-type="view.errorType"
                  tap-to-retry="view.onTapToRetry();">
          </aj-error>
        </div>

        <div class="col-md-16 bg-white" ng-switch-when="loader"> <!-- loader-->
               <div class="text-center"><span class="cf-loader"> </span></div>
        </div>

        

      <div class="col-md-17" ng-switch-when="noError">
       
          <div class="panel panel-default notify-panel">
            <div class="panel-body">
              
                  <ul class="list-group notification-list">
                      <div ng-repeat ="notify in view.data">

                          <li class="list-group-item" 
                            ng-if = "notify.type === 'beforOccurrence'">
                            <span class="pull-right">
                            <a href="" class="btn btn-xs text-success"
                              ng-click="view.deleteNotify(notify.id)">
                              <i class="fa fa-trash"></i>
                            </a>
                            </span>
                            <p ng-click="view.seenNotify(notify.id)">
                           Questionnaire is due on <a href="">{{notify.occurrenceDateDisplay}}</a>.
                            </p>

                          </li>

                          <li class="list-group-item" 
                            ng-if = "notify.type === 'missedOccurrence'">
                            <span class="pull-right">
                            <a href="" class="btn btn-xs text-success"
                              ng-click="view.deleteNotify(notify.id)">
                              <i class="fa fa-trash"></i>
                            </a>
                            </span>
                            <p ng-click="view.seenNotify(notify.id)">
                             You have missed the questionnaire due on  <a href="">{{notify.occurrenceDateDisplay}}</a>. 
                             
                            </p>
                          </li>

                          <li class="list-group-item" 
                            ng-if = "notify.type === 'beforeGracePeriod'">
                            <span class="pull-right">
                              <a href="" class="btn btn-xs text-success" 
                                ng-click="view.deleteNotify(notify.id)">

                                <i class="fa fa-trash"></i>

                              </a>
                            </span>
                            <p ng-click="view.seenNotify(notify.id)" >
                            Questionnaire was due on <a href="">{{notify.occurrenceDateDisplay}}</a>.
                             Please submit it by <a href="">{{notify.graceDateDisplay}}</a>.
                          </p>
                          </li>



                      </div>

                      <div class="text-center" ng-if="view.canLoadMore === true ">
                        <a class="view-more" ng-click="view.showMore()">
                            <i class="fa fa-plus"></i>
                               <span>View More</span>
                        </a>

                        
                      </div>

                      <div class="text-center text-success noNotification" 
                      ng-if="view.gotAllRequests && view.data.length == 0 ">
                            <span>No more Notification to be displayed </span>
                      </div>

                      

                   <!--    <div class="text-center text-success" 
                        ng-if="view.data.length > 0">
                          <a type="button" class="btn btn-default btn-block btn-warning" ng-click="view.DeleteAll()">
                              <span>Clear Displayed Notification</span>
                          </a>
                      </div> -->

                  </ul>
             </div>
          </div>

      </div>
      <div class="col-md-7">
        <div class="sidebar">
          <div class="icon">
            <i class="glyphicon glyphicon-phone-alt"></i>
          </div>
          <br>
          <p class="text-muted">If you feel unwell or would like to chat with someone at the hospital about your illness, you don't have to wait for your next appoinment.<br>Just use the information below</p>
          <h6><b>CALL US ON</b></h6>
            <p><i class="fa fa-phone text-muted"></i>
            <a href="" class="text-success">{{view.phone}}</a>
          </p>
          <p>OR</p>
          <h6><b>MAIL US AT</b></h6>
            <p><i class="fa fa-envelope text-muted"></i>
            <a href="mailto:MRIPanc@nhshospitals.nhs.uk" class="text-success">{{view.email}}</a>
          </p>
        </div>
        <div class="sidebar panel-green">
          <i class="fa fa-ambulance fa-3x text-danger"></i>
          <p>In an emergency call the emergency services ! We are right here to help you.</p>
           <a href="contact.html" class="btn btn-default">Contact Us</a>
        </div>
        </div>
    </div>
</div>