
<!-- {{view.notificationCount}} -->

  <a href="#notification" ng-init="view.init()">
              <div class="notification" > {{view.notificationCount}} </div>
              <i class="fa fa-bell"></i>&nbsp;&nbsp;
              <span class="text-muted">Notifications</span>
            </a>

          <!--   <a href="#notification" ng-init="view.init()">
              <div ng-include src="'patients/views/notificationcount.html'" class="notification" ></div>
              <i class="fa fa-bell"></i>&nbsp;&nbsp;
              <span class="text-muted">Notifications</span>
            </a> -->