

<div class="container" ng-init="view.init()"
  ng-switch="view.display">
  <!-- Wrapper for slides -->
     <div ng-switch-when="loader"> <!-- loader-->
                    <div class="text-center"><span class="cf-loader" id="notify-css"> </span></div>
      </div>

  <div ng-switch-when="error">
        <aj-error class="errors"
              error-type="view.errorType"
              tap-to-retry="view.onTapToRetry();">
        </aj-error>
  </div>

  <div ng-switch-when="completed">
      <div class="jumbotron">
          <h3 class="text-center">{{ view.popTitle }}</h3>
          <br>
          <div class="row">
            <div class="col-xs-8"></div>
            <div class="col-xs-8">
              <button 
                class="btn btn-danger btn-block" 
                ng-click="view.CloseQUestionPopup()">
                        OK
              </button>
            </div>
            <div class="col-xs-8"></div>
          </div>
      </div>
  </div>



  <div ng-switch-when="noError"> 
  <br>
    <div class="row">
      <div class="clearfix">
        <div class="pull-left">
          <h3>{{view.data.questionTitle}}</h3>
        </div>
        <div class="pull-right">
          <button type="button" class="btn btn-success" data-toggle="modal" data-target="#pauseModal"><i class="fa fa-pause"></i> Pause & Exit Questionnaire</button>
        </div>
      </div>
      <hr>

    <div class="col-sm-17 col-xs-24">
      <!-- <h3 >{{view.data.questionTitle}} </h3> -->
      
     
      <!-- <br> -->
       <div class="q-panel">
           <div class="panel panel-default">
              <div class="panel-body p-t-0">
              <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active" id="q1">
                      <div class="pull-right text-muted">
                        <!-- <small>1 of 10</small> -->
                      </div>
                      <h4 class="question m-t-0">
                        <span class="fw600">
                          <!-- <span class="badge-round">Q</span>  -->
                              {{view.data.question}}
                          </span>
                      </h4>
                      <!-- <br class="hidden-xs"> -->
                        <p class="fosz14"
                          ng-if = 'view.data.questionType == "single-choice"'
                          ><strong>Note : </strong>Choose your answer from {{view.data.options.length}} options</p>
                        <p class="fosz14"
                          ng-if = 'view.data.questionType == "multi-choice"'
                          ><strong>Note : </strong>Choose your answers from {{view.data.options.length}} options</p>
                         <p class="fosz14"
                          ng-if='view.data.questionType == "descriptive"'>
                          <strong>Note : </strong>write a short description </p>
                        <p class="fosz14"
                          ng-if='view.data.questionType == "input"'>
                          <strong>Note : </strong> Please input your value</p>
                      <br class="hidden-xs">
                      
                        <!-- single choice -->
                    <div 
                        ng-if = 'view.data.questionType == "single-choice"' 
                        ng-repeat ="answerValue in view.data.options | orderBy:'score' track by $index">
                       <label class="item item-radio">
                          <div class="item-content">
                            <input type="radio" name="group" ng-model="view.singleChoiceValue"
                              ng-value="answerValue.id" ng-disabled="!view.readonly" >
                            <i class="radio-icon fa fa-check"><span>{{$index + 1}} </span></i> 
                              <span>{{answerValue.option}}</span>
                          </div>
                      </label>
                      <br class="hidden-xs">
                   </div>
                  
                     <!-- multi choice -->
                   <div 
                        ng-if = 'view.data.questionType == "multi-choice"' 
                        ng-repeat ="answerValue in view.data.options | orderBy:'score' track by $index">
                       <label class="item item-radio">
                          <div class="item-content">
                            <input type="checkbox" ng-model="answerValue.checked"
                              ng-checked="answerValue.checked" ng-disabled="!view.readonly" >
                            <i class="radio-icon fa fa-check"><span>{{$index + 1}} </span></i>
                              <span>{{answerValue.option}}</span>
                          </div>
                      </label>
                      <br class="hidden-xs">
                   </div>
        

        <br class="hidden-xs">
                  
                      <!-- input -->
                  <form class="row" ng-if='view.data.questionType == "input"'>

                      <div 
                        ng-if = "view.data.optionsLabel === false"
                        text-select
                        class="col-xs-8"
                        ng-repeat ="answerValue in view.data.options">
                          <div class="form-group">
                          <input 
                              type="number"
                              class="form-control input-lg"
                              ng-model="view.val_answerValue[answerValue.option]"
                              id="Kgs" placeholder="{{answerValue.option}}"
                              ng-readonly = "!view.readonly">
                        
                          </div>
                      </div>
                      <!--  kgs-->
                      <div
                        ng-if="view.data.optionsLabel === true" class="cust-type-number">
                        <br class="hidden-xs">
                         <label class="item item-radio" >
                          <div class="item-content multiSelect-check"
                            ng-click="view.firstRow()"
                            ng-class="{activeLabel : view.firstText == 'selected' }">
                            <!-- <input type="radio" name="group" value="go" checked="checked" selected> -->
                            <i class="radio-icon fa fa-check"></i>
                            <input 
                              id = "firstRow"
                              type="number"
                              class="questionnaire-text-field"
                              ng-disable="view.firstRowStatus"
                              ng-model="view.val_answerValue[view.data.withkg.option]"
                              ng-readonly = "!view.readonly">
                            <span>{{view.data.withkg.option}}</span>
                          </div>
                        </label>
                         <div class="alternative"> Or </div>
                         <label class="item item-radio">
                          <div class="item-content multiSelect-check"
                              ng-click="view.secondRow()"
                              ng-class="{activeLabel : view.secondText == 'selected' }">
                              <!-- <input type="radio" name="group" value="go"> -->
                              <i class="radio-icon fa fa-check"></i>
                              <sm ng-repeat = "kgLabel in view.data.withoutkg  | orderBy:'score' track by $index">
                              <input type="number" class="questionnaire-text-field"
                                ng-model="view.val_answerValue[kgLabel.option]"
                                ng-disable="view.secondRowStatus"
                                ng-readonly = "!view.readonly">
                              <span>{{kgLabel.option}}</span>
                            </sm>
                              <!-- <input type="text" class="questionnaire-text-field">
                              lbs -->
                          </div>
                        </label>
                      </div>

                  </form>

                  


                      <!-- descriptive -->
                  <form ng-if='view.data.questionType == "descriptive"'>
                    <div class="form-group"> 
                      <textarea maxlength="1000" type="text" class="form-control input-lg"  ng-model="view.descriptiveAnswer"
                        ng-readonly = "!view.readonly" rows="8"></textarea> </div>
                  </form>


                 </div>
           
              </div> <!-- tab content -->
           
          </div>

        </div>

        <div class="row m-t-25">
            <div class="col-md-12 text-left">
              <button type="button" 
                ng-if = "view.data.previous == true"
                ng-click="view.prevQuestion()"
                class="btn btn-primary btn-primary-lighter width-110">
                <i class="fa fa-angle-left"></i> &nbsp;&nbsp;&nbsp;
                Previous
              </button>
            </div>
            
            <div class="col-md-12 text-right" id="notify-css">
              <button type="button" 
                class="btn btn-success width-110"
                
                ng-click="view.nextQuestion()">
                Next &nbsp;&nbsp;&nbsp;
                <i class="fa fa-angle-right"></i>
              </button>
            </div>
            
        </div>

        <div class="overlay" ng-if="view.overlay === true" >
          <div class="text">Please Wait...</div>
        </div>

      </div> <!-- q-panel-->  
   
    </div>
    <div class="col-sm-7 col-xs-24">

      <!-- <div class="text-right"><button type="button" class="btn btn-success" data-toggle="modal" data-target="#pauseModal"><i class="fa fa-pause"></i> Pause & Exit Questionnaire</button></div>
      <br> -->
    <!--   <div class="q-tabs" role="tablist" class="disabled">
    <div role="presentation" class="disabled"><a href="#q1" aria-controls="q1" role="tab" data-toggle="tab">1</a></div>
    <div role="presentation" class="disabled"><a href="#q2" aria-controls="q2" role="tab" data-toggle="tab">2</a></div>
    <div role="presentation" class="disabled"><a href="#q3" aria-controls="q3" role="tab" data-toggle="tab">3</a></div>
    <div role="presentation" class="disabled"><a href="#q4" aria-controls="q4" role="tab" data-toggle="tab">4</a></div>
    <div role="presentation" class="disabled"><a href="#q5" aria-controls="q5" role="tab" data-toggle="tab">5</a></div>
    <div role="presentation" class="active disabled"><a href="#q6" aria-controls="q6" role="tab" data-toggle="tab">6</a></div>
    <div role="presentation"><a href="#q7" aria-controls="q7" role="tab" data-toggle="tab">7</a></div>
    <div role="presentation"><a href="#q8" aria-controls="q8" role="tab" data-toggle="tab">8</a></div>
    <div role="presentation"><a href="#q9" aria-controls="q9" role="tab" data-toggle="tab">9</a></div>
    <div role="presentation"><a href="#q10" aria-controls="q10" role="tab" data-toggle="tab">10</a></div>
    <div role="presentation"><a href="#q11" aria-controls="q11" role="tab" data-toggle="tab">11</a></div>
    <div role="presentation"><a href="#q12" aria-controls="q12" role="tab" data-toggle="tab">12</a></div>
    <div role="presentation"><a href="#q13" aria-controls="q13" role="tab" data-toggle="tab">13</a></div>
    <div role="presentation"><a href="#q14" aria-controls="q14" role="tab" data-toggle="tab">14</a></div>
    <div role="presentation"><a href="#q15" aria-controls="q15" role="tab" data-toggle="tab">15</a></div>
    <div role="presentation"><a href="#q16" aria-controls="q16" role="tab" data-toggle="tab">16</a></div>
    <div role="presentation"><a href="#q17" aria-controls="q17" role="tab" data-toggle="tab">17</a></div>
    <div role="presentation"><a href="#q18" aria-controls="q18" role="tab" data-toggle="tab">18</a></div>
    <div role="presentation"><a href="#q19" aria-controls="q19" role="tab" data-toggle="tab">19</a></div>
    <div role="presentation"><a href="#q20" aria-controls="q20" role="tab" data-toggle="tab">20</a></div>
    <div role="presentation"><a href="#q21" aria-controls="q21" role="tab" data-toggle="tab">21</a></div>
  </div> -->
    
      <div class="sidebar cust-sidebar" ng-hide="view.isEmpty(view.data.previousQuestionnaireAnswer)">
          <h5 class="prev-ans text-left fw600">Previous Answer </h5>

          <p class="text-muted text-left" >
            <!-- <span class="text-success">A.</span>  -->
             <div class="text-left text-muted"  
             ng-if = 'view.data.questionType === "single-choice" || view.data.questionType === "multi-choice"' >
              Last time you answered option
                <strong class="text-danger">&nbsp;{{ view.data.previousQuestionnaireAnswer.label }}</strong>
             </div>
          </p>

          <p class="text-muted text-left">
             <div 
              class="text-left text-muted" 
              ng-if = 'view.data.questionType === "descriptive"'>
              Last time you answered :<br>
              <span class="text-left db">
              {{view.data.previousQuestionnaireAnswer.value}}
              &nbsp; 
              {{view.data.previousQuestionnaireAnswer.label}}
              </span>
             </div>
          </p>
          <!--p class="text-muted text-left"
              ng-if = 'view.data.questionType === "input"'>
              Last time you answered :<br>
             <span 
              class="text-left m-r-15 fosz14"
              ng-repeat="inpt in view.data.previousQuestionnaireAnswer.optionId" 
              >
              {{inpt.value}} {{inpt.label}} 
             </span>
          </p-->
          <p class="text-muted text-left" ng-if = 'view.data.questionType === "input"'>
             Last time you answered :<br>
             <div ng-if="view.data.previousQuestionnaireAnswer.optionId.label[0] == 'st'">
             <span class="text-left m-r-15 fosz14" data-ng-repeat="inpt in view.data.previousQuestionnaireAnswer.optionId" >
              {{inpt.value}} {{inpt.label}} 1
             </span>
             </div>
             <div ng-if="view.data.previousQuestionnaireAnswer.optionId.label[0] == 'lb'">
             <span class="text-left m-r-15 fosz14" data-ng-repeat="inpt in view.data.previousQuestionnaireAnswer.optionId.slice().reverse()" >
              {{inpt.value}} {{inpt.label}} 2
             </span>
             </div>
             <div ng-if="view.data.previousQuestionnaireAnswer.optionId.label[0] != 'lb' && view.data.previousQuestionnaireAnswer.optionId.label[0] != 'st'">
             <span class="text-left m-r-15 fosz14" data-ng-repeat="inpt in view.data.previousQuestionnaireAnswer.optionId" >
              {{inpt.value}} {{inpt.label}} 3
             </span>
             </div>
          </p>


          <div class="text-left text-muted">
            <p class="calendar-icon">
               answered on<br>
                <strong>{{ view.data.previousQuestionnaireAnswer.dateDisplay }}</strong>
            </p>
          </div>
      </div>

      <div class="sidebar">
        <div class="icon">
          <i class="glyphicon glyphicon-phone-alt"></i>
        </div>
        <br>
        <p class="text-muted">If you feel unwell or would like to chat with someone at the hospital, you don't have to wait for your next appointment.<br>Just use the information below</p>
        <h6><b>CALL US ON</b></h6>
        <p><i class="fa fa-phone text-muted"></i>
          <a href="" class="text-success">{{view.phone}}</a>
        </p>
        <p>OR</p>
        <h6><b>MAIL US AT</b></h6>
        <p><i class="fa fa-envelope text-muted"></i>
          <a href="" class="text-success">{{view.email}}</a>
        </p>
      </div>

      </div>
    </div>
  </div>
</div> <!-- container -->

<!-- Modal -->
<div class="modal fade bs-example-modal-md" id="closeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
     <div class="modal-body">
       <div class="text-center">
      <div class="padding">
      <br>
      <i class="fa fa-times-circle text-danger"></i>
      <br><br>
      <p>Are you sure your want to cancel all the Answers you answered ? </p>
      <br>
     
    </div>
    </div>
      </div>
      <div class="modal-footer">
        <div class="row">
        <div class="col-xs-12"><button class="btn btn-success btn-block"  data-dismiss="modal">No, Go Back</button></div>
        
        <div class="col-xs-12">
            <button class="btn btn-danger btn-block">
              Yes, I am Sure 
            </button>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade bs-example-modal-sm" id="pauseModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
     <div class="modal-body">
       <div class="text-center">
      <div class="padding">
      <br>
      <div class="ic">
      <i class="fa fa-pause"></i>
      </div>
      <br><br>
      <p>Are you sure you want to pause and answer your questionnaire later ? All the questions answered till now will be saved.</p>
      <br>
     
    </div>
    </div>
      </div>
      <div class="modal-footer">
        <div class="row">
        <div class="col-xs-12"><button class="btn btn-success btn-block"  data-dismiss="modal">No, Go Back</button></div>
        <div class="col-xs-12">
          <button class="btn btn-danger btn-block" ng-click="view.closeModal()">
            Yes, I am Sure
          </button>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-sm" id="QuestionarieModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
     <div class="modal-body">
       <div class="text-center">
      <div class="padding">
      <br>
      <div class="ic">
      <i class="fa fa-check"></i>
      </div>
      <br><br>
      <p> {{ view.popTitle }}</p>
      
     
    </div>
    </div>
      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col-xs-8"></div>
          <div class="col-xs-8">
              <button class="btn btn-success btn-block" ng-click="view.CloseQUestionPopup()">
                OK
              </button>
          </div>
           <div class="col-xs-8"></div>
        </div>
      </div>
    </div>
  </div>
</div>



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!--     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
<!--   <script src="../js/bootstrap.min.js"></script> -->

