

<div class="container" > 
  <!-- Wrapper for slides --><br> 
  <h3>{{view.projectName}}</h3>
  <br>
    <div class="row">
    <div class="col-md-17">
     
        <div class="panel panel-default" ng-init="view.init()">
          <div class="panel-body">
            <h4>Instructions</h4>
            <br>
            <div class="alert alert-success">
              <i class="fa fa-exclamation-triangle"></i>&nbsp;&nbsp;&nbsp; Please follow these instructions when you answer the questions
            </div>
            <div class="row text-muted">
                <div class="col-sm-24">
                    <ul class="instr-list">
                      <li>There are a total of <strong>6 questions</strong> to be answered.</li>
                      <li>All Questions are compulsory and cannot be skipped.</li>
                      <li>You cannot go to the next question without answering the current question.</li>
                      <li>Make sure you <strong>check the correct answer</strong> for the question. Incase you have selected the wrong answer, you could click on the <strong>Previous</strong> button and correct it.</li>
                      <li><strong>Don't refresh</strong> the page when answering the Questionnaire.</li>
                    </ul>
                </div>
               
            </div>
            <br>
            <div class="row">
                <div class="col-sm-16">
                </div>
                <div class="col-sm-8 text-right"
                  ng-click="view.startQuiz()">
                    <a type="button" class="btn btn-success">
                      <span>Start the questionnaire</span>
                     </a>
                </div>
            </div>
           </div>
        </div>

    </div>
    <div class="col-md-7">
      <div class="sidebar">
        <div class="icon">
          <i class="glyphicon glyphicon-phone-alt"></i>
        </div>
        <br>
        <p class="text-muted">If you feel unwell or would like to chat with someone at the hospital about your illness, you don't have to wait for your next appointment.<br>Just use the information below</p>
        <h6><b>CALL US ON</b></h6>
          <p><i class="fa fa-phone text-muted"></i>
          <a href="" class="text-success">{{view.phone}}</a>
        </p>
        <p>OR</p>
        <h6><b>MAIL US AT</b></h6>
          <p><i class="fa fa-envelope text-muted"></i>
          <a href="" class="text-success">{{view.email}}</a>
        </p>
      </div>
      <div class="sidebar panel-green">
        <i class="fa fa-ambulance fa-3x text-danger"></i>
        <p>In an emergency call the emergency services ! We are right here to help you.</p>
         <a href="contact.html" class="btn btn-default">Contact Us</a>
      </div>
      </div>
    </div>
     
</div> <!-- container -->




