
<nav class="navbar navbar-default hospital-nav">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="../images/nhs-logo.png" width="70"></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><i class="glyphicon glyphicon-earphone text-muted"></i>&nbsp;&nbsp;<span class="text-muted"> CALL US</span>&nbsp;&nbsp;0161 123 1234</a></li>
           <li><a href="#"><div class="notification">2</div><i class="fa fa-bell"></i></a></li>
          </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container" ng-init="view.init()">
    <br>
    <h2>Sequence Number 4</h2>
    <br>
    <div class="alert alert-success" role="alert">
       Submitted on : 6th December 2015
    </div>
 
    <br><br>
  <div class="timeline">

    <br>
    <div ng-repeat ="summary in view.data">
    <div class="list-item">
        <div class="no">
            <span>1</span>
        </div>
        <div class="list-infotext">
          <h3> {{summary.question}}</h3>

          <h4 class="text-success">
            <span 
              ng-if="summary.input ===''"
              ng-repeat = "answer in summary.optionSelected track by $index">
              {{answer}} <br> 
            </span>
          </h4>

          <h4 class="text-success"
             ng-if="summary.input !==''">
            <span>{{summary.input}} &nbsp; {{summary.optionSelected[0]}}</span>
          </h4>

      </div>
    </div>
    <br>
    </div>
    <!-- <div class="list-item">
      <div class="no"><span>2</span></div>
        <div class="list-infotext">
          <h3>How have your bowels been in the past month?</h3>
          <h4 class="text-success"><span>Diarrhoea up to 5 times daily</span></h4>
      </div>
    </div>
    <br>
    
    <div class="list-item">
      <div class="no"><span>3</span></div>
        <div class="list-infotext">
          <h3>What is your current weight?</h3>
          <h4 class="text-success"><span>45Kgs</span></h4>
        </div>
    </div>
    
    <br>
    <div class="list-item">
      <div class="no"><span>4</span></div>
        <div class="list-infotext">
          <h3 >Has your appetite changed in the past month?</h3>
          <h4 class="text-success"><span>Unable to finish a full meal but eating regularly</span></h4>
      </div>
    </div>
    <br>

    <div class="list-item">
      <div class="no"><span>5</span></div>
        <div class="list-infotext">
          <h3 >How does your illness affect you at present?</h3>
          <h4 class="text-success"><span>I have had to take some time off work</span></h4>
      </div>
    </div>
    <br>
    <div class="list-item">
      <div class="no"><span>6</span></div>
        <div class="list-infotext">
          <h3>How has your diabetes control been over the last month? </h3>
          <h4 class="text-success"><span>I am on insulin and my blood sugar NEVER goes above 10</span></h4>
      </div>
    </div> -->

  </div>

  <br><br><br>
   <a type="button" href="dashboard.html" class="btn btn-success btn-lg">Go Back</a>

</div> <!--container -->

<div class="footer">
    <div class="container">
      <div class="footer-content text-center">
        <span>Copyright © 2015 NHS Hospital. All rights reserved.</span>
      </div>
    </div>
</div>
   