
<div class="container" ng-init="view.init()"
   ng-switch="view.display">
    
   
    <div ng-switch-when="error">
          <aj-error class="errors"
                  error-type="view.errorType"
                  tap-to-retry="view.onTapToRetry();">
          </aj-error>

    </div>

    <div ng-switch-when="loader"> <!-- loader-->
             <div class="text-center">            <div class="cf-loader"> </div> </div>
    </div>


    <div ng-switch-when="noError">
          <br>
          <h2>Submission #{{ view.data.sequenceNumber }} </h2>
          <br>
        <div class="alert alert-success" role="alert">
           Submitted on : {{view.data.submissionDate}}
        </div>
     
          <br><br>
        <div class="timeline">

          <br>
          <div ng-repeat ="summary in view.data.answerObjects track by $index">
          <div class="list-item">
              <div class="no">
                  <span>{{$index + 1}}</span>
              </div>
              <div class="list-infotext">
                <h3> {{summary.question}}</h3>

                <h4 class="text-success g-l-h">
                  <span 
                    ng-if="summary.val ==='single-choice' || summary.val ==='multi-choice'"
                    ng-repeat = "answer in summary.optionSelected track by $index">
                    {{answer}} <br> 
                  </span>
                </h4>

                <h4 class="text-success g-l-h"
                   ng-if="summary.val ==='descriptive'">
                  <span> {{summary.input}} 
                  </span>
                </h4>

                <h4 class="text-success g-l-h"
                   ng-if="summary.val == 'input'"
                   ng-repeat = "answer in summary.optionSelected track by $index">
                  <span> 
                    {{answer.value}} {{answer.label}} 
                  </span>
                </h4>

            </div>
          </div>
          <br>
          </div>
        </div>
    
      <br><br><br>
        <a ng-if = "view.hideButton == true" type="button" ng-click="view.onSumbmit()" class="btn btn-success btn-lg">Submit</a>
       <a type="button" ng-click="view.back()" class="btn btn-success btn-lg">Go Back</a>
    </div>
</div> <!--container -->

<div class="modal fade bs-example-modal-sm" id="submitSummaryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
     <div class="modal-body">
       <div class="text-center">
      <div class="padding">
      <br>
      <div class="ic">
      <i class="fa fa-check"></i>
      </div>
      <br><br>
      <p> Are you happy with your answers?</p>
      
     
    </div>
    </div>
      </div>
      <div class="modal-footer">
          <div class="row">
              <div class="col-xs-2"> 
              </div>
              <div class="col-xs-10"> 
                <button class="btn btn-success btn-block" ng-click="view.goToFirstQuestion()">
                  No1
                </button>
              </div>
              <div class="col-xs-10">
                <button class="btn btn-success btn-block" ng-click="view.submitSummary()">
                  Yes2
                </button>
              </div>
              <div class="col-xs-2"> 
              </div>
          </div>
      </div>
      <!-- <div class="modal-footer">
        <div class="row">
          <div class="col-xs-8"> 
            <button class="btn btn-success btn-block" ng-click="view.goToFirstQuestion()">
                No
              </button>
          </div>
          <div class="col-xs-8">
              <button class="btn btn-success btn-block" ng-click="view.submitSummary()">
                Yes
              </button>
          </div>
           
        </div>
      </div> -->
    </div>
  </div>
</div>

   