<!-- <div class="popup-container popup-showing" ng-class="cssClass"> -->
<div class="popup">
  
  <div class="popup-body">
    <div class="text-center">
      <div class="padding">
      <!--   <div class="ic">
        <i class="icon ion-pause"></i>
        </div><br> -->
        <p>Are you sure about submitting your answers ? Tap 'Yes, I am sure' to submit. To edit your answers now tap 'Edit my answers'.<br> <b> Please note answers cannot be edited after submit .<b></p>
    </div>
    </div>
    <div class="row">
        <div class="col">
          <button 
            class="button button-block button-balanced button-small"
            ng-click="view.redirectLast()">
              Edit my answers
            </button>
        </div>
        <div class="col">
          <button 
            class="button button-block button-assertive button-small"
            ng-click="view.submitSummary()">
            Yes, I am Sure
          </button>
        </div>
    </div>
</div>
</div>
<!--     </div> -->
  
      