/*----------------------------------------
               MOBILE SCREENS
----------------------------------------*/
/***HELPER CLASSES***/
h2 {
  font-size: 2.429em;
}
h3 {
  font-weight: 200;
}
h4 {
  font-size: 1.500em;
  font-weight: 200;
}
h5 {
  font-size: 1.286em;
  font-weight: 200;
}
h6 {
  font-size: 1.000em;
  font-weight: 200;
}
p {
  line-height: 1.929em;
  font-weight: 200;
  color: #444444;
}
.f-w-400 {
  font-weight: 400;
}
.inline {
  display: inline;
}
.b-b {
  border-bottom: 0.071em solid #bbb;
}
.bg-gray {
  background: #eeeeee;
}
.bg-yellow {
  background: #f8fad1;
}
.bg-yellow hr {
  border-color: #EAEBBA;
  border-style: solid;
  margin: 1.429em 0 1.429em 0;
}
hr {
  border-color: rgba(238, 238, 238, 0.34);
}
hr.broad {
  border: 0.5em solid #eeeeee;
}
.text-primary {
  color: #00bae5;
}
.text-danger {
  color: #ee5235;
}
.text-green {
  color: #00aaa7;
}
.text-leaf {
  color: #7bc67a;
}
.text-muted {
  color: #b1b1b1;
}
.dashboard p {
  line-height: 18px;
  margin-bottom: 0;
}
.dashboard .title {
  margin-bottom: 5px;
}
/***HEADER & FOOTER STYLES***/
.bar.bar-header {
  box-shadow: 0 1px 4px 0px rgba(90, 90, 90, 0.51);
}
.bar.bar-header .title {
  color: #000000;
  font-size: 1.071em;
  left: 0!important;
  right: 0!important;
  text-align: center;
}
.bar.bar-header.bar-balanced {
  background-color: #00aaa7;
  color: #ffffff;
}
.bar.bar-header.bar-balanced .title {
  text-align: left;
  color: #ffffff;
}
.bar.bar-header .right-buttons {
  position: absolute;
  right: 0;
}
.bar.bar-header .right-buttons .button {
  float: left;
}
.bar.bar-header .right-buttons .button.button-icon {
  width: 2.000em;
}
.bar.bar-header .right-buttons .button.button-icon::before {
  font-size: 25px;
}
.bar.bar-footer {
  border-top: 0.071em solid #ddd;
}
.bar.bar-footer.submission {
  padding: 0;
}
.bar.bar-footer.submission .button-bar .button {
  border-radius: 0;
}
.bar.bar-footer.broad-footer {
  height: 5.357em;
}
/***ICONS***/
.ic {
  width: 5.000em;
  height: 5.000em;
  background: #ee5235;
  border-radius: 50%;
  position: relative;
  margin: 0 auto;
}
.ic .icon {
  font-size: 2.786em;
  position: absolute;
  top: 16px;
  text-align: center;
  left: 0;
  right: 0;
  color: #ffffff;
}
.icon.ion-close-circled {
  font-size: 5.214em;
}
.icon.ion-ios-information-outline {
  font-size: 2.143em;
}
h4.line-title,
h3.line-title {
  position: relative;
  z-index: 1;
  color: #000000;
}
h4.line-title:before,
h3.line-title:before {
  border-top: 0.071em solid #eeeeee;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 95%;
  z-index: -1;
  color: #000000;
}
h4.line-title span,
h3.line-title span {
  padding: 0 1.071em;
  color: #000000;
  background: #ffffff;
}
/***MESSAGES***/
.info-msg i {
  float: left;
  margin-right: 7px;
  position: relative;
  top: -6px;
}
.info-msg.bg-balanced {
  background: #00aaa7;
  color: #ffffff;
}
/***BUTTONS***/
.button {
  font-weight: bold;
  border: none;
}
.button.button-calm,
.button.button-calm.activated {
  box-shadow: 0px 4px 0 0 #009CBF;
}
.button.button-block.button-dark {
  background: #bdbdbd;
  box-shadow: 0px 4px 0 0 #A8A8A8;
}
.button.button-block.button-dark.activated {
  background: #A8A8A8;
  box-shadow: 0px 4px 0 0 #A8A8A8;
}
.button.button-block.button-balanced {
  background: #00aaa7;
  box-shadow: 0px 4px 0 0 #008380;
}
.button.button-block.button-balanced.activated {
  background: #008380;
  box-shadow: 0px 4px 0 0 #008380;
}
.button.button-block.button-assertive {
  background: #ee5235;
  box-shadow: 0px 4px 0 0 #A73F2C;
}
.button.button-block.button-assertive.activated {
  background: #A73F2C;
  box-shadow: 0px 4px 0 0 #A73F2C;
}
.button.button-assertive {
  background: #ee5235;
}
.button.button-assertive.activated {
  background: rgba(238, 82, 53, 0.8);
}
.button.button-balanced {
  background: #00aaa7;
}
.button.button-balanced.activated {
  background: rgba(0, 170, 167, 0.83);
}
.button.black-arrow i {
  color: #000000;
}
.button.button-light.button-outline {
  color: #eeeeee;
  width: 33px;
  height: 33px;
  margin-left: 9px;
  border-radius: 4px;
  border: 1px solid #eeeeee;
}
.button.button-light.button-outline.ion-pause::before {
  font-size: 1.071em;
  padding-right: 4px;
}
.button.button-light.button-outline.ion-close::before {
  font-size: 1.071em;
  padding-right: 2px;
}
a.button-clear.btn-link {
  text-decoration: underline;
  line-height: 0;
  min-height: 0;
  color: #11c1f3;
  font-size: 1.071em;
}
/***INPUT TAGS***/
.item-input input {
  height: 38px;
  line-height: 17px;
}
.item-input input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #333;
  font-size: 1.214em;
  font-weight: 200;
}
.item-input input::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #333;
  font-size: 1.214em;
  font-weight: 200;
}
.item-input input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #333;
  opacity: 1;
  font-size: 1.214em;
  font-weight: 200;
}
.item-input input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #333;
  opacity: 1;
  font-size: 1.214em;
  font-weight: 200;
}
input[id=password] {
  -webkit-text-security: disc;
}
/***LISTS***/
.no-list .no {
  color: #ffffff;
  font-size: 1.143em;
  background: #666;
  width: 2.500em;
  height: 2.500em;
  border-radius: 50%;
  display: table;
  margin-right: 15px;
  position: relative;
  top: -11px;
}
.no-list .no b {
  vertical-align: middle;
  display: table-cell;
  text-align: center;
}
.item.item-radio .item-content,
.item.item-checkbox .item-content {
  padding: 16px 16px 16px 60px;
  text-overflow: initial;
  white-space: normal;
}
.item.item-radio.item-radio input:checked ~ .radio-icon,
.item.item-checkbox.item-radio input:checked ~ .radio-icon {
  background: #7bc67a;
  border-color: #7bc67a;
}
.item.item-radio.item-radio input:checked ~ .radio-icon::before,
.item.item-checkbox.item-radio input:checked ~ .radio-icon::before {
  opacity: 1;
}
.item.item-radio .radio-icon,
.item.item-checkbox .radio-icon {
  visibility: visible;
  font-size: 1.071em;
  border: 0.071em solid #bdbdbd;
  width: 1.786em;
  height: 1.786em;
  border-radius: 50%;
  text-align: center;
  color: #ffffff;
  padding: 0.286em;
  position: absolute;
  top: 50%;
  right: 8px;
  left: 13px;
  z-index: 3;
  margin-top: -14px;
}
.item.item-radio .radio-icon::before,
.item.item-checkbox .radio-icon::before {
  position: relative;
  top: -2px;
  opacity: 0;
}
.item.item-radio .checkbox input:checked:before,
.item.item-checkbox .checkbox input:checked:before,
.item.item-radio .checkbox input:checked + .checkbox-icon:before,
.item.item-checkbox .checkbox input:checked + .checkbox-icon:before {
  background: #7bc67a;
  border-color: #7bc67a;
}
.item.item-checkbox span {
  white-space: normal;
}
.clm-list .button {
  margin: 0.286em;
}
.clm-list h6.f-w-400 {
  font-size: 1.071em;
  margin-top: 0.214em;
}
.clm-list h6.f-w-400 i {
  font-size: 1.429em;
  position: relative;
  top: 2px;
}
.loading-container .loading {
  background: transparent;
}
.loading-container .loading h3 {
  color: #000000;
  margin-bottom: 0;
}
.loading-container .loading .popup p {
  font-size: inherit;
}
.loading-container .loading .popup .popup-body,
.loading-container .loading .popup .popup-head {
  background: #ffffff;
  border-bottom: none;
}
.notification {
  position: absolute;
  width: 14px;
  height: 14px;
  background: #ee5235;
  color: #ffffff;
  border-radius: 1.071em;
  font-size: 0.643em;
  text-align: center;
  top: -1px;
  right: 2px;
  line-height: 17px;
  z-index: 10;
}
.list.list-inset,
.question-popup {
  position: relative;
}
.list.list-inset i.ion-ios-help-outline,
.question-popup i.ion-ios-help-outline,
.list.list-inset .ion-eye,
.question-popup .ion-eye {
  position: absolute;
  z-index: 10;
  right: 0;
  top: 0;
  padding: 11px;
  font-size: 27px;
}
/*-------------------------------------------
                  TABLET SCREENS
---------------------------------------------*/
@media (min-width: 768px) {
  .centering {
    padding-top: 10%;
  }
  .padding {
    padding: 20px;
  }
  .col,
  .row {
    padding: 10px;
  }
  h1 {
    font-size: 72px;
    margin-bottom: 20px;
  }
  h2 {
    font-size: 65px;
  }
  h3 {
    font-size: 42px;
    font-weight: 200;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  h4 {
    font-size: 40px;
    font-weight: 200;
  }
  h5 {
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  h6 {
    font-size: 19px;
    font-weight: 200;
  }
  span {
    font-size: 19px;
  }
  .info-msg i.ion-ios-information-outline {
    font-size: 34px;
    top: -8px;
  }
  .info-msg .span-gray {
    color: #5D5D5D;
  }
  .button {
    min-height: 55px;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .button.button-small {
    min-height: 40px;
  }
  .item-input input {
    height: 53px;
    font-size: 20px;
  }
  .item-input input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #333;
    font-size: 21px;
    font-weight: 200;
  }
  .item-input input::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #333;
    font-size: 21px;
    font-weight: 200;
  }
  .item-input input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #333;
    opacity: 1;
    font-size: 21px;
    font-weight: 200;
  }
  .item-input input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #333;
    opacity: 1;
    font-size: 21px;
    font-weight: 200;
  }
  .clm-list .button {
    margin: -2px;
  }
  .clm-list h6.f-w-400 {
    font-size: 21px;
    margin-top: 0;
  }
  .loading-container .loading .popup p {
    font-size: 23px;
  }
  a,
  a.button-clear.btn-link {
    font-size: 23px;
  }
  .list.list-inset i.ion-ios-help-outline,
  .question-popup i.ion-ios-help-outline,
  .list.list-inset .ion-eye,
  .question-popup .ion-eye {
    font-size: 35px;
    padding: 14px;
  }
  .has-header {
    top: 55px;
  }
  .has-footer {
    bottom: 55px;
  }
  .bg-yellow {
    border-bottom: 1px solid #EAEBBA;
  }
  .bg-yellow p {
    font-size: 18px;
  }
  .bg-yellow h5,
  .bg-yellow .col {
    margin: 0;
  }
  /***NAVBAR***/
  .bar.bar-header {
    height: 55px;
  }
  .bar.bar-header img {
    height: 42px!important;
  }
  .bar.bar-header .title {
    height: 54px;
    line-height: 55px;
  }
  .bar.bar-header button {
    margin: 0 0 0 10px;
  }
  .bar.bar-header .right-buttons {
    top: 3px;
    right: 6px;
  }
  .bar.bar-header .right-buttons .button.button-icon {
    width: 40px;
  }
  .bar.bar-header .right-buttons .button.button-icon::before {
    font-size: 32px;
  }
  .bar.bar-header .right-buttons .button.button-outline {
    width: 39px;
    height: 39px;
  }
  .bar.bar-header .right-buttons .button.button-outline.ion-pause:before {
    font-size: 22px;
  }
  .bar.bar-header .right-buttons .button.button-outline.ion-close:before {
    font-size: 21px;
  }
  .bar.bar-footer {
    height: 55px;
  }
  .bar.bar-footer .button {
    margin: 0;
    font-size: 18px;
  }
  .bar.bar-footer .button.button-icon .icon:before {
    font-size: 40px;
  }
  .item.item-radio .item-content {
    padding: 28px 16px 28px 69px;
  }
  .item.item-radio .radio-icon {
    left: 28px;
    top: 35px;
  }
  .item.item-checkbox span {
    padding: 10px;
  }
  .item.item-checkbox .checkbox input,
  .item.item-checkbox .checkbox-icon {
    left: 15px;
  }
  .no-list .no {
    width: 30px;
    height: 30px;
    top: -5px;
    font-size: 14px;
  }
  .notification {
    width: 17px;
    height: 17px;
    font-size: 0.643em;
    right: 2px;
    top: -2px;
  }
}
/***FOOTER***/
/*# sourceMappingURL=style.css.map */